[2019-10-07 16:44] moklick opened #4 "Where to put the onConnect callback"
Right now the `onConnect` gets added to the store. We can't pass it through because it's used in the `Handle` component which can be used by the users directly. Is there a better place where we could store the callback? Should we create a context for this kind of stuff?

[2019-10-07 16:45] moklick opened #5 "Layout Algorithm"
It would be nice to have an automatic layout like breadth first tree or something like that we could use to order the graph

[2019-10-07 16:46] moklick opened #6 "Background Pattern"
Add a grid background pattern that scales and pans with the users actions

[2019-10-07 16:47] moklick opened #7 "Validate Connection"
We should have an optional callback for the handles that validates if a connection is valid. We should then toggle classes like `hover`, `valid` on the handles in order to be able to style handles depending on the validation status.

[2019-10-07 17:57] #7 closed, assigned to nobody

[2019-10-07 19:14] moklick opened #8 "Controls"
Add zoom and fit view controls

[2019-10-07 19:46] #8 closed, assigned to moklick

[2019-10-07 20:04] #6 closed, assigned to AndyLnd

[2019-10-08 12:16] moklick opened #10 "Background Styles"
It would be nice to have different background styles:

- [x] grid
- [x] dots

[2019-10-08 12:18] moklick opened #11 "Pinch Gestures"
Add zoom on pinch

[2019-10-08 16:21] #11 closed, assigned to moklick

[2019-10-08 17:40] moklick opened #15 "rollup: plugins output"
Create extra output for plugins folder so that the could get imported like:

[code]

[2019-10-08 21:50] #15 closed, assigned to moklick

[2019-10-09 16:37] moklick opened #20 "Nodes: snap to grid"
Add options `snapToGrid:  boolean` and `snapGrid: [number, number]`.

[2019-10-09 16:37] #10 closed, assigned to AndyLnd

[2019-10-15 12:45] moklick opened #34 "Examples: Empty Renderer"
Create Example without nodes and edges but a button that lets you add nodes.

[2019-10-15 20:44] #34 closed, assigned to moklick

[2019-10-21 14:06] moklick opened #39 "Minimap: Show all nodes"
Minimap should display all nodes and highlight the current viewport.

[2019-10-21 14:20] moklick opened #40 "Only render elements inside the viewport"

[2019-10-21 14:31] moklick opened #42 "Add prettier"

[2019-10-21 18:58] #20 closed, assigned to nobody

[2019-10-21 18:58] #42 closed, assigned to nobody

[2019-10-22 12:15] #39 closed, assigned to AndyLnd

[2019-10-22 12:41] moklick opened #46 "User selection: Multi selection is broken"
User selection doesn't use snap and seems to be broken.

[2019-10-22 15:19] moklick opened #49 "Add interactive prop"
add dynamic prop `interactive`= `true` | `false`

[2019-10-22 15:42] moklick opened #50 "Bug: fit view is broken when graph is empty"

[2019-10-22 19:03] #40 closed, assigned to AndyLnd

[2019-10-23 12:48] #46 closed, assigned to nobody

[2019-10-23 15:22] #50 closed, assigned to nobody

[2019-10-23 17:02] moklick opened #57 "Add image to readme"
![react-flow](https://user-images.githubusercontent.com/2857535/67416769-b413bc00-f5c7-11e9-8890-b01bea761971.png)

[2019-10-23 17:12] #57 closed, assigned to nobody

[2019-10-23 18:53] #49 closed, assigned to nobody

[2019-10-23 19:12] moklick opened #60 "State: isInitialized"
We need an initialized state internally that should be true after first render happened. We should not call `onLoad` until `isInitialized` is `true`.

Right now we can't call `fitView` on load for example because the graph is still empty.

[2019-10-24 19:20] moklick opened #63 "Node positions correct?"
Are the node positions set correctly? The spacing seems a bid odd in the [stress example](https://react-flow.netlify.com/stress):

![Screenshot 2019-10-24 at 21 14 50](https://user-images.githubusercontent.com/2857535/67517724-7f753280-f6a3-11e9-9254-c174fe59e213.png)

[2019-10-28 19:38] moklick opened #72 "Bug: Multi selection broken"
When I select multiple nodes and edges and drag the selection the new positions are not correct:
<img width="1147" alt="react-flow-mulitseleciton" src="https://user-images.githubusercontent.com/2857535/67711699-cd9b7600-f9c2-11e9-82ae-5ca2d05bd82e.png">

[2019-10-28 19:38] moklick opened #73 "Bug: Multi selection broken"
When I select multiple nodes and edges and drag the selection the new positions are not correct:
<img width="1147" alt="react-flow-mulitseleciton" src="https://user-images.githubusercontent.com/2857535/67711699-cd9b7600-f9c2-11e9-82ae-5ca2d05bd82e.png">

[2019-10-28 22:55] #63 closed, assigned to nobody

[2019-10-28 22:55] #72 closed, assigned to nobody

[2019-10-28 22:56] #73 closed, assigned to nobody

[2020-05-04 13:50] #4 closed

[2020-05-05 18:21] jkelleyrtp opened #188 "Bug: can't move nodes with Safari"
Another Safari quirk is that starting a node connection kills react (white screen).

[2020-05-05 19:16] #188 closed

[2020-05-06 06:46] shaabanban commented on #5
Was writing something similar... found this library to be an excellent resource https://github.com/dagrejs/dagre

[2020-05-06 07:36] angelozehr opened #190 "TypeError: Cannot read property '0' of null"
When I click on the following spot, the app crashes with the error:

`TypeError: Cannot read property '0' of null`

<img width="443" alt="Screenshot 2020-05-06 at 09 30 18" src="https://user-images.githubusercontent.com/8629484/81148542-c316f600-8f7c-11ea-8008-9de5c390c35a.png">

I can reproduce the error in Chrome and Firefox in the two Examples "Rich" and "CustomNode" but only on the green boxes

[2020-05-06 07:39] #190 closed

[2020-05-06 07:40] lasso-codie commented on #5
Also worth noting is https://github.com/erikbrinkman/d3-dag

[2020-05-06 08:24] dayvough opened #192 "Support for text on Edges"
Hi, love the repo and was just looking for something like this to help my team explain lots of scenarios.

However I'd like to ask if there's support for Text on the Edges coming soon so that I can explain decision trees without having to add an additional two more nodes for "YES" and "NO"

Cheers

[2020-05-06 08:35] moklick commented on #192
Good idea! We will look into it :)

[2020-05-06 11:30] antoinne85 commented on #5
Cytoscape has several extensions for managing layout as well, if you'd like mor  options and examples.

https://js.cytoscape.org/#extensions/layout-extensions

[2020-05-07 02:16] CarlosADLRT opened #193 "Any example for custom edges"

[2020-05-07 11:05] moklick commented on #193
Good idea! I will add that.

[2020-05-07 12:36] kinney opened #194 "missing type declaration file"
i know you've written this in typescript - do you have plans to publish your types, too?

great work btw!

[2020-05-07 12:44] #194 closed

[2020-05-09 09:00] bartvanremortele opened #196 "Draggable.js error when graph is not visible"
Hi there, I was doing some experimentation with react-flow in a newly created CRA and ran into a problem while testing the examples in a new codebase.

It turns out that not setting a height on the body and including the graph causes Draggable.js to break because the graph is not rendered which is quite confusing.

The error I get is:

[code]

Including the CSS from the example solves this issue:

[2020-05-10 04:15] raichuk opened #197 "Contribute with lock board plugin"
Hi WebKid team,
first of all thanks for this incredible library, I was looking for something like this to use on a shared board.

I've checked the code of plugins and the `useStoreState` and `useStoreActions` hooks in order to create a button that locks the board, using the `setInteractivity` function and is working (at the time as a button on controls plugin but I think that might be better as a

[2020-05-10 12:22] moklick commented on #197
Hey @raichuk,

thanks for your kind words :)

I really like the idea of an interactive on/off button. You could integrate it in the controls plugin and add some options so that one could enable zoom/focus graph/interactive.

What do you think about that?

[2020-05-10 12:28] moklick commented on #196
Hey @bartvanremortele,

good point! How could we solve this issue? Better docs of a default pixel height?

[2020-05-10 12:52] raichuk commented on #197
Hi @moklick, thanks for this fast response.

You are right, the Controls plugin could integrate this change and the user would be able to enable it or not for later use.

I have some little things to check, but overall is done, so I can follow the process that you have for proposing a PR

Thanks.

[2020-05-10 13:40] moklick commented on #197
I think we need a contribution guide. Can you make a new branch from the develop branch? That would be perfect.

[2020-05-10 13:43] raichuk commented on #197
Of course, I will commit there and when everything is done I will update you, so you don't need to start with the guide immediatly.

Thanks @moklick

[2020-05-11 06:18] raichuk commented on #197
Hi @moklick.

I have everything ready, at least to check it when you have time.
I've branched from `development` branch and commited trying to follow the pattern that you use, but, of course, when trying to push my branch it returns me `403`.

Do you want me to fork and create PR from my fork?

Thanks!

[2020-05-11 07:54] moklick commented on #197
Hey @raichuk

you should be able to create a PR from your fork via the web UI https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork

[2020-05-11 09:30] chrtze commented on #196
Hi @bartvanremortele,

I tried to reproduce the issue but could not get the same error as you: https://codesandbox.io/s/happy-hooks-h65s2?file=/src/App.js
Even if the parent container has no height and width, the graph does not throw errors in my case.

Can you give some more information on your setup or source code?

[2020-05-11 11:02] bartvanremortele commented on #196
@chrtze I was able to reproduce the issue but it appears to be related to using React.Fragment in the root. See: https://codesandbox.io/s/dark-bash-4j3z6?file=/src/App.js

[2020-05-11 11:24] moklick commented on #192
We now have support for edge labels! You can checkout the examples

demo: https://react-flow.netlify.app/edges
demo source: https://github.com/wbkd/react-flow/blob/master/example/src/Edges/index.js

[2020-05-11 11:24] #192 closed

[2020-05-11 11:33] chrtze commented on #196
@bartvanremortele thanks! this is somehow a strange behaviour, I will look into it.

[2020-05-11 15:00] jasonjmcghee opened #210 "Bad / Show Edges in Demo"
https://react-flow.netlify.app/

Current edge behavior seems to be borked.

Last week it looked normal / clean.

![bad_edge](https://user-images.githubusercontent.com/1522149/81576599-4f4e6200-935d-11ea-914e-52eb9cc6d995.png)

Linux 16.04, Chrome 80

[2020-05-11 15:06] raichuk commented on #197
@moklick it's ready now, thanks for this opportunity!.

[2020-05-11 15:08] #210 closed

[2020-05-11 17:02] #197 closed

[2020-05-11 20:38] #193 closed

[2020-05-11 23:13] moklick commented on #193
We now have a custom edge example

demo: https://react-flow.netlify.app/edges
demo source: https://github.com/wbkd/react-flow/blob/master/example/src/Edges/index.js

[2020-05-12 16:30] moklick opened #218 "Non-Interactive Mode"
When the graph is not interactive it should be possible to pan while pointer is above a node or edge.

[2020-05-13 09:10] #218 closed

[2020-05-13 11:09] moklick commented on #196
We are now throwing an error when width or height equals zero.

[2020-05-13 11:09] #196 closed

[2020-05-13 14:59] kinney opened #220 "State: nodes incorrectly positioned on rerender"
i calculate node positioning from my server and pass those nodes directly to a `Graph` component.

when my nodes initially render, they are positioned correctly, but if i later pass a new set of nodes, the positioning is wrong -- the tree appears much larger and less dense, it's as if the x/y position for each node gets multiplied by some number. if i then refresh my page, my nodes appear position

[2020-05-13 19:09] moklick commented on #220
You are right. We only check if there are changes in the data option of a node. I need to figure out how we can solve this.

[2020-05-13 19:46] krizka commented on #220
My 5 cents to this.
`useElementUpdater` should have dependencies on useEffects, like [elements]
also, it calling very often from parent on it's update.

[2020-05-14 09:11] moklick commented on #220
Hey @kinney

we are now also apply style and position changes to the nodes. I added a "change pos" button to the basic example https://react-flow.netlify.app/basic

Could you check if the new version works for you?

[2020-05-14 10:35] krizka commented on #220
@moklick thank you!

[2020-05-14 10:58] kinney commented on #220
awesome - thank you!

the main issue is fixed. one related thing - if i zoom out and switch between positions, my tree similarly appears larger and less dense than it should. i realize this may be a different root cause (or maybe even intended behavior?). happy to create a new issue if you'd prefer.  here's a slightly modified example that makes it easier to see:

https://gist.github.com/kinney/8d

[2020-05-14 12:42] moklick commented on #220
@kinney thanks for reporting this bug! It should be fixed in v1.3.5.

[2020-05-14 13:41] kinney commented on #220
amazing - it's all working great. thank you!

[2020-05-14 13:41] #220 closed

[2020-05-14 14:14] moklick commented on #5
Thanks for the links. [Dagre](https://github.com/dagrejs/dagre) looks really nice but I think it would be an overhead for this project. I don't want to add another dependency here. Maybe we should create a plugin like `react-flow-layouter` that is not part of the core module.

[2020-05-15 14:51] jeremypeters commented on #60
I've just run into this issue where I need to call `fitview` after the map has initialized - currently I'm having to use a timeout which is a tad nasty and also means I have to hide the map until `fitview` has been called.

[2020-05-15 15:51] jeremypeters opened #224 "Typescript error for <Handle> prop"
I'm using `<Handle>` within a custom node component and I get the following Typescript error:

`TS2322: Type '"top"' is not assignable to type 'Position'.`

Using 1.3.5

[2020-05-15 16:14] moklick commented on #224
Hey,

can you try to import the `Position` type and then do:

[code]

[2020-05-15 18:55] moklick commented on #60
You should be able to call `fitView` inside the `onLoad` callback https://github.com/wbkd/react-flow/blob/master/example/src/Stress/index.js#L40

[2020-05-16 12:16] SvetoslavSlavov opened #227 "On IE 11 and Edge SyntaxError: Expected identifier, string or number"
number  -2146827274
`SyntaxError: Invalid character  at ./node_modules/react-flow-renderer/dist/ReactFlow.esm.js `.  I'm using 1.3.2 version. Thank you for your help in advance. :)

[2020-05-16 13:27] moklick commented on #227
Hey @SvetoslavSlavov,

for now IE11 is not supported. You might be able to get it run if you configure babel to transpile to es5 with Promises polyfilled.

[2020-05-16 13:27] #227 closed

[2020-05-17 10:50] andys8 commented on #224
I ran into the same issue. I believe the [fix](https://github.com/wbkd/react-flow/commit/34188549f3a245a50372d6ae3be13e0263fb1fba) should work. Thanks.

[2020-05-18 09:19] jeremypeters commented on #224
Hi @moklick

I updated to 1.3.7 and I'm getting a couple more errors using your fix:

`Module '"../../../node_modules/react-flow-renderer/dist"' has no exported member 'Position'. Did you mean to use 'import Position from "../../../node_modules/react-flow-renderer/dist"' instead?ts(2614)`

` TS2322: Type '{ type: "target"; position: Position.Top; className: string; }' is not assignable to type 'In

[2020-05-18 09:25] jeremypeters commented on #60
Hi @moklick

I am - still need a timeout within it.

[2020-05-18 16:26] moklick commented on #224
hey @jeremypeters,

I set up a codesandbox with example ts code:

https://codesandbox.io/s/react-flow-customnode-ts-lu18j?file=/src/Flow.tsx

`className` is not a prop type of the `Handle` component and `Position` gets exported since the last version. Does the code example help you to solve this or is there still an issue with the library?

[2020-05-18 16:40] moklick commented on #60
Do you get an error or has the `fitView` call no effect? Could you provide an example?

[2020-05-19 09:11] moklick opened #235 "Background Component"
Instead of configuring the background via the React Flow component prop types we should export a `Background` component like the `MiniMap` or `Controls`.

[2020-05-19 09:13] moklick opened #236 "Minimap as control"
It would be nice if we could pan and zoom inside the mini map to control the flow pane.

[2020-05-19 15:47] chrtze opened #237 "Export project function"
it would be nice to have a function for transforming pixel coordinates into react-flows internal coordinates (with scale)

[2020-05-19 15:48] chrtze opened #238 "Add className property"
we need a className property for styling with styled-components and other use cases.

[2020-05-19 16:49] #238 closed

[2020-05-19 16:49] #237 closed

[2020-05-22 10:16] agrawal-rohit opened #240 "Sizing the Controls"
Not able to change the size and positioning of the Control buttons. Any idea how to do it?

[2020-05-24 01:06] CarlosADLRT opened #241 "Difference between click and drag"
I want to open model when user click a node. But if the user drag the node the model will pop up. Any suggestion on what can I do?

[2020-05-24 01:07] CarlosADLRT commented on #193
Tks men

[2020-05-25 08:55] moklick commented on #241
Hey @CarlosADLRT

you are right. The `onClick` handler is actually a `onDragStart` handler. I will try to implement an `onClick` handler and rename the current `onClick` handler to `onDragStart`.

[2020-05-25 09:02] moklick commented on #240
Hey @agrawal-rohit,

you can overwrite the CSS via:

[code]

[2020-05-25 09:02] #240 closed

[2020-05-25 10:10] agrawal-rohit opened #247 "Need help understanding the raw Implementation"
Hey, I was trying to create a visual scripting framework using node graphs and react when I stumbled upon your library. It was exactly what I was looking for, however, it had such high abstraction that I had to stop using it. I tried implementing one on my own but ran into various issues and thus I'm stuck.

Can you help me understand what libraries are you under the hood and for what purpose? I'd

[2020-05-25 10:26] moklick commented on #247
Hey @agrawal-rohit

thanks for your interest. We are using `d3-zoom` for the zooming and panning, `react-draggable` for the dragging and `easy-peasy` for the state handling.

I hope you understand that we cannot discuss the raw implementation here. The code is open source and you can see the details for yourself.

Maybe you can find another library that fits your needs. For example https://rete.js

[2020-05-25 10:26] #247 closed

[2020-05-25 10:52] agrawal-rohit commented on #247
Thanks for all the help :). I checked out Rete.js, it looks much more suitable for my purposes.

[2020-05-25 12:09] moklick commented on #241
should work with v1.4.0

[2020-05-25 12:09] #241 closed

[2020-05-25 15:20] #235 closed

[2020-05-25 15:35] CarlosADLRT commented on #241
Tks

[2020-05-26 09:08] moklick commented on #224
Hey

[2020-05-26 09:08] #224 closed

[2020-05-27 09:35] bartvanremortele opened #251 "ConnectionLine occasionally throws an error"
Hi,

I'm having an issue when trying to connect a node.

This specific node was loaded over http from a hook (useEffect) and only has a source port.
When I try to draw an edge I sometimes receive an error immediately and other times it manages to render the line but after a certain amount of ticks throws the same error.

I traced the issue back to this line:
[code]
It appears that handleBounds[han

[2020-05-27 10:58] moklick commented on #251
Hey @bartvanremortele

I think you don't need to use `yarn link` when you do `"react-flow-renderer": "file:../react-flow/"` in your package.json.

Could you create a codesandbox or something like that to help us better understand how the error occurs? I will also try to reproduce this error.

[2020-05-27 11:06] bartvanremortele commented on #251
I didn't actually use both at the same time. I tried them separately to see if the typings got resolved when importing them.

The strange thing is: I can import the types when using the npm module but they're not resolved when using either yarn link or the file syntax.

If you set-up an example that uses typescript you will see that you can't import the typings from the primary packages.

[code]
T

[2020-05-27 12:00] bartvanremortele commented on #251
I'm able to reproduce it here but not consistently, I feel like this is a racing condition. I need to refresh the codesandbox and drag from the green box (custom node root here) to be able to reproduce it.

https://codesandbox.io/s/hungry-cdn-r466d?file=/src/Test.js

See this gif:
![2020-05-27 13 58 23](https://user-images.githubusercontent.com/424370/83016449-3cf14b00-a022-11ea-8ddc-0ef090d8084f.

[2020-05-27 16:10] moklick commented on #251
Hey @bartvanremortele

could you try to use v2.1.1

[2020-05-27 16:34] moklick opened #253 "Connection line in horizontal graphs"
The connection line in horizontal graphs should look like the edges in horizontal graphs.

[2020-05-27 19:14] bartvanremortele commented on #251
Hey @moklick thanks, the issue disappeared as soon as I left out the node which had an undefined label. I'll update and test it in the local reproduced environment. I'm interested in collaborating on react-flow and would like to get in touch with you if you're open to that.

[2020-05-27 22:02] dekelb opened #254 "Add className property to the node options"
Currently the graph-nodes support only inline styling (using the `style` prop).
I think adding the className option will be a great enhancement.

[2020-05-28 08:17] moklick commented on #254
good idea! We will add that

[2020-05-28 08:19] moklick commented on #251
Sure @bartvanremortele ! Thanks for the offer :) I will write you an email.
Can we close this issue?

[2020-05-28 08:26] bartvanremortele commented on #251
Yes, I'll close it. Thank you for the support.

[2020-05-28 08:26] #251 closed

[2020-05-28 09:29] #253 closed

[2020-05-28 09:29] #254 closed

[2020-05-28 09:33] moklick commented on #254
It's released in v2.2.0 and used in the [horizontal example](/example/src/Horizontal/index.js).

[2020-05-29 07:18] natsu-k opened #256 "Bezier connection line not generating correct when connecting diagonally"
If you connect a node with handles left and right, to a node with handles facing up and down the bezier curve doesn't generate correct for each use case.

e.g. Connecting **TOP to LEFT** handles generates correctly, but connecting **RIGHT to BOTTOM** handles generates a curve the same as **LEFT to TOP**

![image](https://user-images.githubusercontent.com/22218632/83232043-d1e57700-a1cf-11ea-876d-2

[2020-05-29 10:02] bartvanremortele opened #257 "Getting zoom level and other state in child components"
When building additional components outside of this project (e.g.: a different implementation for background / grid rendering) there currently is no way to access the state because it's not being exported.

I'm not familiar with easy-peasy and perhaps there is a way but I was unable to find it.

A simple solution would be to export the `useStoreState` from `store/hooks` to be able to pull in state

[2020-05-29 12:37] #257 closed

[2020-05-29 12:48] moklick commented on #256
Hey @natsu-k

that's some crazy nodes :) Thanks for the feedback. We will check that.

[2020-05-29 12:49] moklick commented on #257
Good idea :) We need that too. It's available in v2.2.1

[2020-05-30 12:08] natsu-k commented on #256
Thanks for getting back to me @moklick

I just threw that together super quickly to demonstrate what I noticed occurring. I've been really inspired by this library. I've been using it and your example on custom nodes  along with a background API to create an version of this that lets you build your node graph within the react app itself and then save it back to json. Things like being able to chan

[2020-05-30 18:27] #256 closed

[2020-05-30 18:34] moklick commented on #256
Thanks for your input! We just released a v3.0.0 (because we had a breaking change regarding custom nodes). The nodes now should be connected correctly: https://react-flow.netlify.app/horizontal

[2020-05-31 09:27] bartvanremortele opened #261 "snap to grid is not behaving correctly"
Hi again,

When using snap to grid everything works as expected on the initial zoom level scale of 1. If you zoom in by a fraction (e.g.: scale 1.2) the grid snapping is not working correctly. As soon as you hit scale(2) it starts snapping back to the grid but with a double offset from your mouse position. I believe the reason is that the grid snapping is scaling the snapping based on the current

[2020-05-31 10:09] moklick commented on #261
hey @bartvanremortele!

Thanks for the detailed bug report :) Good catch! We just fixed it.

[2020-05-31 10:17] #261 closed

[2020-06-01 07:50] natsu-k opened #270 "Connection curve preview generates always generates from "source" handle"
Hi @moklick

I noticed today after updating to the latest release that when connecting nodes from target to source rather than source to target the curve preview is attached to the node's source rather than the target.

This can be replicated in the [example pages](https://react-flow.netlify.app/) by clicking on the target handle for the **You can find the docs on Github** node and trying to conne

[2020-06-01 08:44] bartvanremortele opened #271 "isInteractive is preventing custom click handlers"
I have a use-case where I want to disable the graph from being changed. (E.g: nodes being dragged) but I still want to be able to click them to trigger UI changes elsewhere (E.g: a sidebar being opened with node information).

I believe is-interactive is a good solution for this but the implementation of it is causing some issues. Because it's setting `pointer-events: none` on the nodeWrapper, cli

[2020-06-01 08:51] bartvanremortele commented on #5
I suggest to also take a look at [WebCola](https://github.com/tgdwyer/WebCola) which is a constraint based layout.

[2020-06-01 10:31] moklick commented on #270
Oh. That’s not nice. Thanks for the report we will check that

[2020-06-01 10:53] moklick commented on #271
Hey,

I disabled the pointer events for inactive graphs in order to be able to zoom and pan even if the pointer is above a node.

Maybe we could introduce another option like ‘disablePointerEventsWhenInactive’ or something like that.

What do you think about that?

[2020-06-01 11:09] bartvanremortele commented on #271
Hey,

Yes, I did some further digging and now understand why it's implemented in the way it is. The zoom layer has a lower `z-index` than the nodes and the `pointer-events: none` makes it possible to trigger the handlers on the zoom layer because the node's events are disabled.

As far as I understood (by reading [this issue](https://github.com/d3/d3-zoom/issues/66) on d3-zoom, the UX I want is pr

[2020-06-01 11:16] bartvanremortele commented on #271
perhaps we can figure out a better solution using [d3-zoom's filter](https://github.com/d3/d3-zoom/blob/master/README.md#zoom_filter)

[2020-06-01 13:56] moklick commented on #271
Maybe ‘enablePointerEvents’ would be a good option. And yes I would like to drop d3-zoom and d3-selection.

[2020-06-01 21:22] L33thaxor118 opened #272 "onSelectionChange prop missing"
The README specifies an onSelectionChange prop for the ReactFlow component. However it doesn't seem to be present in the ReactFlowProps interface at **/react-flow-renderer/dist/container/ReactFlow/index.d.ts**

[2020-06-01 21:25] #272 closed

[2020-06-02 08:04] moklick opened #273 "Add minZoom, maxZoom, initZoom prop types"

[2020-06-02 08:04] moklick opened #274 "Export getElements function in onLoad callback"

[2020-06-02 08:51] natsu-k opened #275 "Request: dynamically updating handles"
Hi,

I wanted to build an in-app editor to be able to build out the node graphs using this library. To record the toggle state of the 4 potential handles on a node, I store this in the elements JSON array.

I then use the custom node to render the handle as either a source or target handle (or no handle) depending on the state in the array.

Today I noticed, unfortunately the internal **__rg.handl

[2020-06-02 08:55] Yogendra-Telus opened #276 "How add Icon to Custom Edge"
Hi

I can see we can add CustomEdge as well under Edge type but how can we add Icon in CustomeEdge(Let's suppose i want to add remove icon over edge).
   <>
      <path id={id} style={style} className="react-flow__edge-path" d={`M ${sourceX},${sourceY}L ${targetX},${targetY}`} fill="url(#img1)" />
      <text>
    --->  < img tag><----
      <textPath href={`#${id}`} style={{ fontSize: '12px' }} s

[2020-06-02 09:49] moklick commented on #276
Hey,

the edges are SVG based so you need to use the SVG image tag like `<image xlinkHref={imageSrc} x={centerX} y={centerY} height="50px" width="50px" />`.

[2020-06-02 09:49] #276 closed

[2020-06-02 10:01] moklick commented on #275
Hey @natsu-k

you can call internal actions like this:

[code]

Does it help?

[2020-06-02 10:30] natsu-k commented on #275
Hey @moklick

I tried something similar earlier but I got an error, I don't think I can access the store from the same functional component that I render ReactFlow in? This is my first time using react so learning as I go along. I might be able to access it in the custom node functional component though, I'll have to have a look tomorrow.

I think that the check you have in updateNodeDimensions wi

[2020-06-02 12:04] bartvanremortele commented on #275
@natsu-k correct, the provider of the store is wrapping everything inside the main graph component and only descendants of that provider can call the `useStoreActions`. I do believe we can make it possible to approach the store from higher level components but it would require additional changes.

[2020-06-02 14:05] #270 closed

[2020-06-02 14:05] #273 closed

[2020-06-02 15:01] natsu-k commented on #275
@bartvanremortele @moklick   - thanks for the feedback so far, really helpful.
I had a bit of a look into it and I was able to get to a point where I can call updateNodeDimensions through a child functional component and pass down the which nodeElement to retrigger through a state. Although I have to do some pretty hacky code directly editing the __rg.height to bypass the the if statement in the f

[2020-06-02 16:45] moklick commented on #275
Hey,

you can now wrap the `ReactFlow` component with a `ReactFlowProvider` in order to be able to call actions and use store outside of the `ReactFlow` component. It is used in the [provider example](https://github.com/wbkd/react-flow/blob/master/example/src/Provider/index.js)

[2020-06-02 18:36] rusakovStas commented on #275
Hi!
Thanks for your component! It's really cool)
I'm not sure that it's related to this issue, but i have a problem with refresh)
Is there a way to update 'width' props on that component?
`<svg width="1400" height="543" class="react-flow__edges"></svg>`
I have a form with dynamic area, and when that area is appeared/disappeared outer container have changes its size, but that svg width property doe

[2020-06-02 18:39] moklick commented on #275
hey @rusakovStas

thanks! Could you open a new issue for that?

[2020-06-02 18:42] rusakovStas commented on #275
Of course)

[2020-06-02 18:51] rusakovStas opened #279 "Handling of the outer container's size changes"
Hello!
I have a form with react-flow.
That form have an "optional" area.
When ReactFlow component mounts on form it works like a charm.
But when an optional area appear outer component of ReactFlow have changes its size, but FitView works as if sizes remain the same. And i have to re-unmount the whole ReactFlow component to fix this.
Is there any way to handle such size's changes?

[2020-06-02 19:00] rusakovStas commented on #279
![Screen Shot 2020-06-02 at 9 55 19 PM](https://user-images.githubusercontent.com/21197242/83558921-6aeff700-a51c-11ea-8346-df55326baaec.png)

[2020-06-03 08:13] #274 closed

[2020-06-03 08:15] moklick commented on #279
Thanks for the report. I think we need a resize observer for the pane or something like that.

[2020-06-03 09:33] #275 closed

[2020-06-03 21:11] #279 closed

[2020-06-03 21:24] moklick commented on #279
Hey @rusakovStas

should work with v.3.2.1

[2020-06-03 21:27] moklick opened #281 "Controls broken when using ReactFlowProvider"
Right now the controls are using helper functions from the graph utils which import the store directly. We should not do this but call actions with the `useStoreActions` hook in order to use the current store.

[2020-06-03 21:31] rusakovStas commented on #279
Hey @moklick!
Confirm! Now it works)
You are the best! Thank you so much!)

[2020-06-05 10:09] bartvanremortele opened #282 "Zooming / panning is causing nodes to re-render for no reason"
If you zoom and pan the nodes are being re-rendered which is impacting performance if you have a lot of nodes.

![Schermafbeelding 2020-06-05 om 12 07 39](https://user-images.githubusercontent.com/424370/83864649-50d53500-a725-11ea-9c32-cfc7de2767c2.png)

[2020-06-05 10:13] bartvanremortele commented on #271
@moklick I did some searching to improve the zooming / panning behaviour in conjunction with click handlers on nodes and came across https://github.com/prc5/react-zoom-pan-pinch#readme this implementation. I believe this might be a good contender to replace d3-zoom.

Your thoughts?

[2020-06-05 10:39] #281 closed

[2020-06-05 11:06] moklick commented on #282
Hey @bartvanremortele

I found a little easy-peasy, immer related bug regarding the `updateTransform`action. More over I wrapped the nodes with `memo` and updated the examples. The validation example used inline functions for the isValidConnection prop, that's why it got re-rendered. Maybe you are also creating new functions every time? Do you have an example?

[2020-06-05 11:16] moklick opened #285 "onLoad project and getElements functions broken when using ReactFlowProvider"
Right now you can't use the `project` and `getElements` functions you receive in the `onLoad` callback while using the ReactFlowProvider. These functions are using `store.getState()` which does not return the custom store but the store that is normally used by ReactFlow.

[2020-06-05 11:50] bartvanremortele commented on #282
I'll check but I'm not using the isValidConnection prop. It might be because of other props on my custom nodes however. I previously checked if it was still re-rendering when I removed the Handle's from my custom nodes but it still was re-rendering.

[2020-06-05 11:59] bartvanremortele commented on #282
I've updated to the latest version and it's already improved quite a bit. Right now I'm still using a style on a custom node with a Handle that's still triggering re-renders but I can work around it.
[code]

[2020-06-05 12:05] moklick commented on #282
can you try to do

[code]

When the object is inlined it gets re-created every re-render

[2020-06-05 12:10] moklick commented on #271
I will have a look, thanks!

[2020-06-06 10:11] moklick commented on #282
Hey @bartvanremortele

can we close this issue or is there still a problem with unnecessary re-renderings?

[2020-06-06 11:07] bartvanremortele commented on #282
No, it's fixed. Thanks.

[2020-06-06 11:07] #282 closed

[2020-06-14 18:40] Tallyb commented on #5
EXCELLENT LIBRARY! thank you so much.

Here is an example of how to use dagre. It assumes you get an array of elements that contains a links field. The names on elements and on links are unique and can be used as keys.
(Adjust this as per your data).

[code]

[2020-06-14 21:35] dekelb commented on #271
Another feature that is related to this is an option to allow drag & drop the elements (nodes), but prevent creating new edges.
As far as I understand this is not possible atm.

@moklick is there an option for this out-of-the-box?

[2020-06-14 21:47] moklick commented on #271
hey @dekelb

sorry I can't follow you. What do you want to achieve?

[2020-06-14 21:53] moklick commented on #5
Hey @Tallyb

thanks :) this looks good.

[2020-06-14 22:16] dekelb commented on #271
thanks for the super fast reply @moklick !
I want to be able to move the nodes (drag and drop), but in my case - the creation of new edges (create new connection between nodes) should be disabled.

Maybe I missed something in the docs, but from what I understand there is no simple way to do this.

[2020-06-14 22:31] moklick commented on #271
@dekelb can you open a new issue for this? thanks!

[2020-06-14 22:49] dekelb opened #291 "Partial-interactive graph"
Feature request - support an option for drag&drop nodes, but prevent the user from creating new edges (connect between two nodes).

In general - I think the lib should support control for each of those:

    <ReactFlow
        ...
        dragNodes={true/false}
        linkNodes={true/false}
    />

This way it's possible to control all options and mix between them.

One might want to allow all (s

[2020-06-14 22:51] dekelb commented on #271
@moklick just opened #291 - let me know what you think.

[2020-06-14 23:05] moklick commented on #291
If you don't implement an `onConnect` handler, no edges will be created. So your first request should already work.

If you want an inactive chart but be able to connect nodes that's not possible for now. Do you think this is really a use case?

[2020-06-14 23:19] dekelb commented on #291
No implementing the `onConnect` is indeed an option, however this is really frustrating to the user (because it's looks like a bug in the system - "why do I have an option to start drag a new edge, but it will never connect to anywhere).

In my case - yes, I need this. I want to give some users permissions to only view the graph without the ability to link between the nodes (and I do want them to

[2020-06-14 23:27] moklick commented on #291
Ah, you are right. We are still drawing the connection line even if there is no on connect handler. For this case we could introduce a new option like `isConnectable`. Do you also have the use case where you want to show an inactive graph where users can connect nodes?

[2020-06-15 07:22] dekelb commented on #291
Sure, this is also a valid option:
I want the nodes to be fixed (in place) and give the user the ability to connect them (but now allowing drag and drop of nodes).

The reason is that sometimes flows should be handled by one person (and the position of the elements explains the flow of the data in the system), and some other person have the ability to create the connection, but not changing the po

[2020-06-15 11:50] moklick commented on #291
Ok, got it. I will see how we can achieve this.

[2020-06-18 15:36] andys8 opened #299 "Mouse wheel will not change zoom if cursor is on node"
Mouse wheel will trigger zoom in both direction if the cursor is placed on the background.
This will not be the case if the cursor is on a node.

From a technical point of view I think this is caused by the way scroll events work.
From the user perspective I'd assume this isn't wanted behavior. So it would be nice if zooming would work anywhere on the graph.

### How to reproduce

1. Open https://

[2020-06-18 23:36] moklick commented on #299
I never thought about it but I think it's a good point. We might replace [d3-zoom](https://github.com/d3/d3-zoom) with [react-zoom-pan-patch](https://github.com/prc5/react-zoom-pan-pinch/). With that library it would be relatively easy to achieve this. We could use the `disableOnTarget` option for nodes and would have the behaviour that you describe here.

[2020-06-21 17:52] dekelb opened #301 "add onRightClick/onContextMenu handler"
I hope I didn't miss it in the docs, but I couldn't find any option to handle right-click (contextmenu) on the nodes/edges.
If not implemented - this is a feature request (I'll be happy to open a PR on it if needed).

[2020-06-22 07:36] moklick commented on #301
Hey @dekelb

there is no right-click handler for now. Feel free to open a PR :)

[2020-06-29 06:16] Shubham-luv2code opened #313 "How to handle onHover event on each node?"
I would like to show some tooltip/popup over each node hover. How to deal with it?

[2020-06-29 07:56] moklick commented on #313
You could create custom nodes with `onMouseMove` / `onMouseEnter` handlers but we will also add these events for the standard node types in near future.

[2020-06-29 08:36] Shubham-luv2code commented on #313
Thanks for your response. I already tried using it on the ReactFlow component directly but it was not working. So I started sending mouse events under data for each node. It works fine. Now I've a minor concern that whenever I'm hovering on an element, the tooltip is showing always on a set position and not on each particular node. Attached image for your reference.
![react-flow-render-img](https:

[2020-06-29 08:37] moklick commented on #313
Could you share some code? It's hard to figure out what is going on here.

[2020-07-03 06:15] itsrimzz1 opened #314 "Uncaught Error: The React Flow parent container needs a width and a height to render the graph."
I have copied the overview example into my project but I am getting the following error.
### Stacktrace
[code]

I have set width and height of parent container as 100% each. still facing this issue. What am I missing here?

[2020-07-03 06:24] itsrimzz1 commented on #314
Figured it out. Silly mistake on my part.

[2020-07-03 06:24] #314 closed

[2020-07-13 08:15] Shubham-luv2code opened #329 "How to prevent movement of created flow when dragging?"
I changed isInteractive to false but now I can't hover on the nodes and also it doesn't disable the movement of created flow. Can you help?

[2020-07-13 16:03] #291 closed

[2020-07-13 16:03] #329 closed

[2020-07-13 16:17] moklick commented on #313
Hey @Shubham-luv2code

we just released v.4.0.0. There we added `onNodeMouseEnter` and `onNodeMouseLeave`callbacks. You need to adjust the position of the tooltip by your self depending on the event `clientX`, `clientY` position, I guess.

[2020-07-13 16:17] #313 closed

[2020-07-13 16:18] moklick commented on #301
We added `onNodeContextMenu` in v4.0.0. Used in the [horizontal example](https://react-flow.netlify.app/horizontal) (check the logs).

[2020-07-13 16:18] #301 closed

[2020-07-13 16:20] moklick commented on #271
Hey,

we just released v.4.0.0. There we dropped `isInteractive` and added `nodesDraggable`, `nodesConnectable` and `elementsSelectable`. This use case should be working with `nodesDraggable` = `false` and `nodesConnectable` and `elementsSelectable` = true. Can you confirm @bartvanremortele ?

[2020-07-13 16:27] moklick commented on #329
We dropped the `isInteractive` property and introduced more adjustable properties to control the level of interaction: `nodesDraggable`, `nodesConnectable` and `elementsSelectable`.

[2020-07-13 20:45] moklick commented on #291
You can now use the properties `nodesDraggable`, `nodesConnectable` and `elementsSelectable` in order to adjust the interaction level.

[2020-07-14 08:35] emielwit opened #331 "Disable zoom on scroll"
Hey,

I would like to have the mouse scrolling trigger panning rather than zooming. Is there a way to disable the zooming on scroll?

[2020-07-14 12:19] #331 closed

[2020-07-14 12:23] moklick commented on #331
Hey @emielwit

good idea! The new option `zoomOnScroll` is released in v4.1.0. You can find an example here https://react-flow.netlify.app/interaction

[2020-07-15 14:07] emielwit commented on #271
If you use `nodesDraggable={false}` then the `onElementClick` is not working anymore.

[2020-07-15 20:20] moklick commented on #271
Good catch @emielwit! The bug should be fixed with version 4.2.2

[2020-07-16 15:44] kagia opened #338 "disable double click to zoom"
it would be great if there was a way to disable double click to zoom 🤔

[2020-07-17 09:00] #338 closed

[2020-07-17 09:07] moklick commented on #338
Hey @kagia

thanks for your input.

I added the option `zoomOnDoubleClick` and also fixed the general double click zoom behaviour. It is released in v.4.3.0.

[2020-07-19 11:55] Tallyb opened #340 "Add color to edges?"
Is there a way to change the color for some edges?

[2020-07-19 18:23] moklick commented on #340
Hey @Tallyb

you can pass a `style` option to an edge: `{ style: { stroke: 'red' } ...otherOptions}` or you can pass a `classname`. Does it work for you?

[2020-07-20 07:38] emielwit opened #347 "The reducer has already received the state as an argument"
Hey,

I have a custom component for zooming.
[code]

I am extracting the zoom function from the `useStoreActions` and get the zoomLevel form the `useStoreState`. Now when i press the buttons to trigger the zoom function i get the following error: `You may not call store.getState() while the reducer is executing. The reducer has already received the state as an argument. Pass it down from the top r

[2020-07-20 07:59] moklick commented on #347
Hey @emielwit

you found a bug. I will try to figure out what is going on here.

[2020-07-20 08:41] #347 closed

[2020-07-20 08:46] moklick commented on #347
Should work with v.4.3.1

[2020-07-20 12:27] Harish-Hk opened #349 "removeElements explanation needed"
hey there,
I'm new to this wbkd react-flow
I was wondering how do I remove a node.

the docs say, it needs two arrays: elementsToRemove and Elements
removeElements
Returns elements without the elements from elementsToRemove

removeElements = (elementsToRemove: Elements, elements: Elements): Elements

Im pretty confused how to use it.

here's what I'm trying to do.

Instead of nodes, im taking func

[2020-07-20 12:43] moklick commented on #349
Hey @Harish-Hk

better docs are on our list ;)

The function takes two parameters (both are arrays of Elements). The first parameter includes the elements you want to remove and the second one contains all elements of your flow. The functions then returns a list of all elements that are still part of your flow.
You can't use your `removeNode` function for the internal `onElementsRemove` callback a

[2020-07-20 13:30] Harish-Hk commented on #349
thank you for the response @moklick
I was able to implement the addNew function like this,

`onClick={props.addNew}`

[code]

 where I'm calling the the callback functions via props,
I'm using my custom functions in which I'm calling the callback API functions.

but im trying to know how to send array of elements to onElementsRemove callback.

[2020-07-20 13:44] Harish-Hk commented on #349
sorry if I'm not clear,
when I click on remove button in the image below,
Here's the actual error I'm facing.
elementsToRemove.map is not a function.

![nodeError](https://user-images.githubusercontent.com/28500085/87944521-21a03a80-cabd-11ea-93f6-7e85e0bcdb0b.JPG)
![nodeError1](https://user-images.githubusercontent.com/28500085/87944527-2369fe00-cabd-11ea-8948-79660c5fee81.JPG)

[2020-07-20 14:13] moklick commented on #349
when you call `removeElements` you always need to pass arrays of elements. So if you only want to remove one specific node, you can do: `removeElements([node], this.state.elements)`.

Can you show the code where you are using it?

[2020-07-20 14:48] moklick commented on #349
I guess because you are doing `onClick={removeNode}` somewhere. You need to do something like `onClick={() => removeNode(node)}`. You only need the id at that point. So you could pass the id as a prop and then do `onClick={() => removeNode({ id: props.id })}`

[2020-07-20 21:33] #340 closed

[2020-07-21 07:17] Eye12 opened #350 "how to make flow group?"
how to make flow group?

[2020-07-21 07:26] moklick commented on #350
What do you mean with flow group?

[2020-07-21 08:49] #349 closed

[2020-07-21 10:41] Harish-Hk opened #351 "Uncaught Error: The React Flow parent container needs a width and a height to render the graph."
Hey there,

I'm getting this error, though Im using `container` or `container-fluid` classes for the react flow parent container.
I'm using a bootstrap tabbed Approach,
and the React flow is used in second tab.
Im getting this issue if I load/ setActive tab to the first tab.
and if im loading the second tab(react flow) then its not givin me this error.

[code]
even if I explicitly set the containe

[2020-07-21 10:46] moklick commented on #351
Hey @Harish-Hk

this is not related to react-flow. Maybe you are trying to render the Flow component before the parent gets a height or is visible.

[2020-07-21 10:46] #351 closed

[2020-07-21 14:59] moklick opened #353 "Readme Teaser Image"
![Screenshot 2020-07-21 at 16 58 32](https://user-images.githubusercontent.com/2857535/88070904-7e5e2c80-cb73-11ea-9f69-6b8647eef24a.png)

[2020-07-21 14:59] #353 closed

[2020-07-21 17:41] aludewig opened #354 "Disable redux devtool"
Is there a way to disable the redux devtool? The devtool extension in my browser always crashes e.g. when I drag a node because it triggers a lot of actions.

[2020-07-22 02:31] Eye12 commented on #350
how to make two nodes module become a group

[2020-07-22 02:33] Eye12 commented on #350
A container contains two nodes. The two nodes can be dragged to connect

[2020-07-22 09:30] #354 closed

[2020-07-22 09:34] moklick commented on #354
Hi @aludewig

thanks for pointing that out :) It should be fixed in v4.4.0

[2020-07-22 10:00] moklick commented on #350
You can select multiple elements while pressing shift but you can not group elements data-wise.

[2020-07-22 15:57] moklick commented on #350
This feature is not planned for now.

[2020-07-22 15:57] #350 closed

[2020-07-23 09:26] emielwit opened #356 "Performance issues with dotted background when zoomed out"
Hey,

When i use the build in background component with dots `<Background color="#888" gap={16} />` and i zoom out the performance of moving the canvas drops.

[2020-07-23 09:37] andys8 opened #357 "How to pass data / callbacks to a custom edge?"
Heya, thanks for the library.

I want to have a more complicated menu appearing, if the the user hovers over a custom edge.

Maybe there is already a good way, how to achieve this. I didn't find one. I have the following ideas how it could look like:

### Idea 1

For nodes there is a generic `data` attribute to pass information. It's used for a callback in an example. For edges there is no such at

[2020-07-23 12:14] aludewig opened #358 "Event handler for moving the graph"
### Hi, it would be really helpful if there was an event handler that fires when you move (or zoom) the graph, so you can save the current transformation of the graph. And of course you would need the option to hand in the transformation of the graph as props so you can render the graph with the saved transformation.

And I have some more ideas for possible add-ons, that would help to customize th

[2020-07-23 21:35] moklick commented on #357
Hey @andys8

thanks for your ideas.

Idea 1:
Could you implement a custom edge and then look up the data with the help of the edge id?

Idea2:
Right now the EdgeText is rendered as a SVG text and rect element. Maybe it would be better/ more flexible/ easier to implement to if we would implement this as a div overlay. But then we would need a wrapper so that one bring a custom label component and r

[2020-07-23 21:54] andys8 commented on #357
Regarding idea 1: What do you have in mind? If you have the edge id upfront and lookup the data (or create a callback), how would you then pass it and display it in the custom edge? Do you have an example?

[2020-07-23 21:54] moklick commented on #358
Hey @aludewig

this is a good input, thanks 👍

There is already an `onMove` handler but no `onZoom` handler. The `onMove` callback does not receive any params for now. I could change this to the current `transform` variable. We could also add new prop types like `initialCenter` (x,y) and `initialZoom`. What do you think about that?

I also like the other ideas but could you open a new issue for th

[2020-07-23 22:54] moklick commented on #356
Hi @emielwit

we are rendering a SVG with a path node for the background. It seems that the calculations or the rendering are taking too long. We will check this.

[2020-07-23 23:40] moklick commented on #357
Could you wrap your flow with a context provider and then receive the data inside your custom edge with the help of a context consumer? But anyway I think you are right and it would be good to add a generic `data` option for edges too. This would make it easier to implement custom edges with a more complex behaviour.

[2020-07-24 06:43] aludewig commented on #358
Oh, I actually didn't see that handler - it's kind of what I need but as I see, it will fire a lot of times during moving the graph. I think something like `onMoveStop` would be helpful as I'd like to save the transformation in the redux store and otherwise it might generate too much overhead. Yes, it would be great if that callback receives the current `transform` variable.
A prop type like `init

[2020-07-24 06:52] aludewig opened #359 "Additional behaviour for scrolling"
Hey, I have some ideas for possible add-ons, that would help to customize the graph:

- option to move the graph when scrolling on the mouse (instead of zooming) -> maybe that you can choose if you either want to move, zoom or do nothing when scrolling
- possibility to disable a certain direction for moving, e.g. that you only allow to move the graph vertically
- when mouse scrolling triggers to m

[2020-07-24 08:02] moklick commented on #358
Oh! How could I forget about the `defaultZoom` prop type 🙈

I will add a `defaultPosition` prop and a `onMoveEnd` and `onZoomEnd` handler.

[2020-07-24 08:24] aludewig commented on #358
Thanks! ☺️

[2020-07-24 08:41] moklick commented on #60
I’m closing this issue because it has been inactive for a few months.

[2020-07-24 08:41] #60 closed

[2020-07-24 11:09] emielwit opened #360 "Option to disable selectable for edges"
Hey,

Is there a setting like for nodes to set `selectable: false` or do this on a higher level `selectableEdges={false}`?

[2020-07-24 14:14] moklick commented on #360
There is no edge option `selectable`. Do you need to set a specific edge to selectable false? If not you could use the `elementsSelectable` option.

[2020-07-24 14:50] emielwit commented on #360
I found a solution, i have set `elementsSelectable` to `false` and added `selectable: true` to the nodes that needs to be selectable.

[2020-07-24 14:50] #360 closed

[2020-07-24 16:05] moklick commented on #358
Hey @aludewig

the new props are released in v4.5.0.

I added `defaultPosition`, `onMoveStart` and `onMoveEnd`. They are triggered when transform changed (x,y or zoom).

[2020-07-24 16:05] #358 closed

[2020-07-25 09:35] aludewig commented on #358
@moklick Wow, thanks for adding that so fast!

But as it seems the `defaultPosition` prop only applies on the first render of the graph.

In my case I have different 'files' that each include a graph and I want to independently save the position of the graph (what now is possible with `onMoveEnd`) and then want to reproduce that saved transformation when I switch between files. I thought that I co

[2020-07-25 11:41] moklick commented on #358
Hey @aludewig

that's correct. Now it's an uncontrolled component like when you use `defaultValue` for an input element. It's only the default and then the component itself controls the changes. We could add a `position` prop type but then you would have to apply all changes (panning/ zooming) by yourself.

I added a `setTransform` function to the reactFlowInstance. This should work for you. You c

[2020-07-25 12:05] aludewig commented on #358
That works! I didn't know there also is an useStoreAction hook - maybe you could add that to the documentation 🙈
Thanks for your help! :)

[2020-07-25 12:10] moklick commented on #358
cool :) The `setTransform` function comes with the next release.. but I think you don't need it anymore. Yep, I will add it to the docs.

[2020-07-25 13:04] moklick commented on #356
I created a new branch "background-performance" where I am using a repeating inline SVG as a background image. It works fine in Chrome but unfortunately it's flickering in Firefox. Maybe we need another solution here or can we fix the flickering somehow?

[2020-07-26 15:21] moklick commented on #356
I think I found a way. I am now using the same inline SVG and change the `background-position`. There is no more flickering in Firefox or Safari and it's rendering faster.

[2020-07-26 15:21] #356 closed

[2020-07-26 15:22] moklick commented on #358
The `setTransform` function is released in v.4.6.0

[2020-07-27 08:02] moklick commented on #356
can you confirm @emielwit ?

[2020-07-27 10:41] #357 closed

[2020-07-27 10:51] andys8 commented on #357
Nice! Thank you, @moklick

[2020-07-27 11:01] moklick commented on #357
@andys8 it's released in 4.7.0. Let me know if it works for you!

[2020-07-27 16:47] andys8 commented on #357
Working nicely

[2020-07-27 18:07] andys8 opened #372 "Bug: onConnect won't be updated"
`onConnect` is set here:

https://github.com/wbkd/react-flow/blob/991863f2ae0a04a903baa0fe2dd3ab82924db832/src/container/GraphView/index.tsx#L145-L147

It's inside of:

https://github.com/wbkd/react-flow/blob/991863f2ae0a04a903baa0fe2dd3ab82924db832/src/container/GraphView/index.tsx#L139-L166

I think because the code is using `useEffect(() => { }, [ ])` it's only run once. `onConnect` will never

[2020-07-27 18:31] moklick commented on #372
Hey @andys8

I never thought that one would need to change this function. What is the use case for this? I could put it into it's own useEffect hook.

[2020-07-27 22:53] andys8 commented on #372
Use Case: One can select different graphs that will be shown. If the selection changes the graph will be changed just fine. Any new connection is added somewhere, but depending on the selected graph and therefore using the graph name in onConnect. But onConnect never gets updated.

There might be workarounds, but it's quite unexpected. Therefore the fix :)

[2020-07-28 07:28] #372 closed

[2020-07-28 07:45] moklick commented on #372
Are the ids of the elements unique across all graphs?

[2020-07-28 09:28] andreas-ebot7 commented on #372
Yes, I think so.

Thanks :)

[2020-07-29 15:11] MatthieuJnon opened #376 "need help with using elements array in a custom node handler"
Hi, I have a custom node with a plus button attached to the node. I want the button to add a new node right below the one with the plus.

I'm creating the handler in the same way as in your example, [Custom node example](https://github.com/wbkd/react-flow/blob/master/example/src/CustomNode/index.js)

This issue is that, for me to add a Node, I have to pass the addNode helper an array of the `eleme

[2020-07-29 15:35] moklick commented on #376
Hey @MatthieuJnon

could you open a code sandbox or something like that? This makes it easier to understand your problem.

I am not sure if I get it right but maybe you could use the internal state in your custom node like this:

[code]

[2020-07-29 15:35] MatthieuJnon commented on #376
Ok, so I've found a way to have an up to date handler using this method

[code]

But it seems suboptimal to me ? Do you know of any  better way ?

[2020-07-29 15:37] MatthieuJnon commented on #376
Thank you for your answer, I'm creating a sandbox right now to share my issue

[2020-07-29 15:48] MatthieuJnon commented on #376
https://codesandbox.io/s/modest-wiles-o5z9q?file=/src/Graph.jsx

Here you go, you can see on the console that when you click on the icon next to the node, it doesn't have the up to date elements

[2020-07-29 16:00] moklick commented on #376
You can pass a function to `setElements` like we are doing it in our [custom node example](https://github.com/wbkd/react-flow/blob/master/example/src/CustomNode/index.js#L25). The first parameter is the current `elements` value. Then you could do:

[code]

Or you could receive the current elements with the way described above and pass it to the `handleAddChild`function:

[code]

[2020-07-29 16:38] MatthieuJnon commented on #376
Thank you so much, I've been coding with hooks for > 1 year, and I didn't event know you could pass a function to the set state method...
Thank you for your reactivity and for your help

[2020-07-29 16:38] #376 closed

[2020-07-29 16:49] GISGuy opened #377 "Any option to disable movement of the diagram?"
Hi, quick question. In the current latest version (4.7.1), is there any option allow us to disable the movement of the diagram?
Thanks!

[2020-07-29 17:25] SadBunny opened #378 "Problem rendering multiple flows in separate elements?"
Hi. Thanks for a great library. I'm a newbie with respect to JS and React, but I've been able to get a working application with a react-flow and it's pretty user friendly and well explained.

But now I want to elements next to eachother with two totally separate flows. It's not working; it seems like the two flows end up interacting under the hood of ReactFlow. The effect is a constant flickering

[2020-07-29 17:48] moklick commented on #377
You can configure the level of interactivity with the props `nodesDraggable`, `nodesConnectable` and `elementsSelectable`

[2020-07-29 18:33] moklick commented on #378
Hey @SadBunny

thanks for the kind words :)

It's because of the internal state handling. When you want to display multiple flows in one page you need to wrap the flow with their own ReactFlowProviders (then they have their own stores - I will also write this in the docs):

[code]

[2020-07-29 18:37] SadBunny commented on #378
@moklick Oh wow, it works! Thanks for the insanely fast response.

[2020-07-29 18:37] #378 closed

[2020-07-30 09:17] #377 closed

[2020-07-31 11:22] pitkes22 opened #380 "Events for creating new edge"
Hi, I am trying to add custom behavior when a user starts (and stops) creating a new edge.

Right now there is only `onConnect` event that fires when the connection is created. I think that it would be great to add events that will fire when a user starts and stops creating the new edge. For example something like `onEdgeDragStart({ source })` and `onEdgeDragStop()`. Stop event is needed because `

[2020-08-01 10:51] #380 closed

[2020-08-01 11:06] moklick commented on #380
Hey @pitkes22

thanks for your input!

I added the handlers `onConnectStart({ nodeId, handleType })` and `onConnectStop()`. It's released in v4.9.0

[2020-08-02 05:57] agarwal00s opened #383 "onConnectStart and onConnectStop event not getting triggered."
[code]

[2020-08-02 08:36] moklick commented on #383
Hey @agarwal00s

we are using the event handlers in this example https://reactflow.dev/validation. When you open the dev console you can see that the events get triggered. Are you using the latest version?

[2020-08-02 08:41] agarwal00s commented on #383
Yeah, I saw that the event is getting triggered there, but not in my project.
Can you please help me out? I tried the same method which is present over there.
https://github.com/agarwal00s/flow-builder

[2020-08-02 09:10] moklick commented on #383
You need the current version which is v4.9.0

[2020-08-02 09:27] agarwal00s commented on #383
Thanks @moklick it worked out.

[2020-08-02 09:27] #383 closed

[2020-08-02 17:08] pitkes22 commented on #380
Awesome! Thank you for the fast response and for your work on this absolutely awesome library :+1:

[2020-08-03 03:16] agarwal00s opened #384 "onConnectStop() not giving us Position where the user stopped dragging"
@moklick can we get the position on the canvas when onConnectStop event is triggered?

[2020-08-03 10:34] pitkes22 opened #391 "How to implement drag and drop?"
Hi, I am trying to figure out how to implement drag and drop functionality.

Currently, I'm using HTML drag events. So I have  `draggable="true"` on the element that should be draggable and I am listening to `onDrop` event on wrapper component of the `ReactFlow` component (because this event was not triggered when I tried to listen for it on ReactFlow component). By doing this I am able to get a p

[2020-08-03 10:53] moklick commented on #391
Hey @pitkes22

you are right. You can use the `project` function. We can't just export it, because it relies on the store of the specific react flow component. You get a `reactFlowInstance` when you are using the `onLoad` function. The `reactFlowInstance` exposes the `project` function you can use for getting the translated position. Let me know if it works for you.

[2020-08-03 11:29] pitkes22 commented on #391
It works, my bad I didn't realize it was available in `reactFlowInstance`.

One small problem I encountered is that in order to store the instance in the state, I needed its type. But `OnLoadParams` interface is not exported so I have to use `Parameters<OnLoadFunc>[0]` which is a little bit wild :smile:

[2020-08-03 12:43] moklick commented on #391
Ok, cool! It gets exported in v4.9.1

[2020-08-03 12:43] #391 closed

[2020-08-03 12:44] moklick commented on #384
Hey @agarwal00s

for now it's not possible. We could pass the normal mouse event. Would it help?

[2020-08-03 12:57] agarwal00s commented on #384
@moklick if we can get an event which tells us the current mouse position, that will also work.

[2020-08-03 13:34] Vkrish-Nimmagadda opened #392 "Scroll the viewport as I draw the line"
As I draw the line to connect a node that is down below the ViewPort, I want the canvas to scroll automatically so that I could connect to the node (which is down somewhere).

Is there a known and easy workaround or this ?

Request kind help from someone.

Cheers,
Krish

[2020-08-03 13:52] pitkes22 opened #393 "onLoad callback called on every render"
When using arrow function as a callback to `onLoad` prop, it is called on every render. This happens because the identity of the function changes each time and this function is used as a dependency to this `useEffect`.

https://github.com/wbkd/react-flow/blob/592bb9f7e6a6ec4e1385be36cc3efe53fbc07512/src/container/GraphView/index.tsx#L149-L173

This can be solved by wrapping this function in `useCa

[2020-08-03 14:56] fabianstrunz opened #394 "Add or edit elements by using useStoreActions"
Hello!

Is it possible to add elements by using useStoreActions?

[code]

I'm using this to add new elements from outside of the `ReactFlow` component, but unfortunately it doesn't work.

Consuming the nodes from outside the `ReactFlow` component does work.

[code]

So, is there a way to add elements from outside the `ReactFlow` component? Or am i just doing it wrong :-)

Also, is it possible to e

[2020-08-03 15:16] moklick commented on #384
We might should pass the mouse event for all event handlers.. I will think about it.

[2020-08-03 15:23] moklick commented on #394
Hey @fabianstrunz

you always pass the current elements as a prop. You can add or change nodes and edges from outside. You can find an example of how you could add a node in the [empty example](https://github.com/wbkd/react-flow/blob/master/example/src/Empty/index.js#L13-L21) and how you could change nodes in the [stress example](https://github.com/wbkd/react-flow/blob/master/example/src/Stress/in

[2020-08-03 15:23] #394 closed

[2020-08-03 15:41] moklick commented on #393
you are right! It's fixed in v4.9.2

[2020-08-03 15:49] pitkes22 commented on #393
Great! Thanks for resolving these issues so fast :+1:

[2020-08-03 16:23] moklick commented on #392
Since the pane is draggable there is no need for a pane that is higher than the window.

[2020-08-03 16:32] Vkrish-Nimmagadda commented on #392
Didnt get that @moklick  !  That is the requirement, like if there is a node that is down below how do we connect it ? Because as I start drawing the line and the node is below, it won't auto-scroll.  How do we do it now ? May be I am missing something.

[2020-08-03 16:40] Vkrish-Nimmagadda commented on #392
@moklick  should this is a new feature that we need to build ? Please let me know.

[2020-08-03 19:29] moklick commented on #392
Hey @Vkrish-Nimmagadda

I get it! It was a misunderstanding on my side.
Right now the nodes you want to connect have to be inside the viewport. There is no auto-scroll/auto-drag function yet.

[2020-08-03 20:08] SadBunny opened #396 "Minor documentation bug: TOC edges links to nodes info"
Seems like the TOC link to the 'Edges' chapter actually links to the Nodes chapter.

[2020-08-04 03:14] Vkrish-Nimmagadda commented on #392
Thank you much @moklick  ! Appreciate it.

Any quick tips on a decent approach from either you and/or community will help. I will see how to help build that feature.

[2020-08-04 07:45] pitkes22 opened #397 "When node have multiple outgoing edges all of them highlights when user selects one"
When one node has multiple edges going into one other node, and the user selects(clicks) one of them, all of them will become highlighted. All handles in my example have a unique ID and also `onSelectionChange` is called with correct data (only one edge).

![image](https://user-images.githubusercontent.com/10003540/89266240-f3326b80-d635-11ea-972a-0626e4f558d3.png)

Example:
[![Edit nifty-tereshko

[2020-08-04 07:47] pitkes22 commented on #397
Also when edges are selected by group selection they are not highlighted.

![image](https://user-images.githubusercontent.com/10003540/89267405-77d1b980-d637-11ea-821c-c5b372f0c777.png)

[2020-08-04 08:46] #397 closed

[2020-08-04 08:51] moklick commented on #397
good catch 👍

[2020-08-04 08:52] #396 closed

[2020-08-04 08:52] moklick commented on #392
We would be happy if you find a way and do PR :)

[2020-08-04 08:54] Vkrish-Nimmagadda commented on #392
Cool .. good ! Thank you @moklick  !

[2020-08-04 14:55] agarwal00s commented on #384
@moklick any update ?

[2020-08-04 16:17] namack opened #399 "Exposing Mouse Events"
Following the lead of `onNodeMouse*` and `onNodeContextMenu`, it would be helpful to expose the `MouseEvent` to the developer when something happens on the canvas. I can see this being useful for `onElementClick`, `onNodeDrag*`, `onMove*`, and `onPaneClick`.

All of these functions (except for `onPaneClick`) already return values, however if we were to follow the pattern set by `onNodeMouse*`, the

[2020-08-04 16:48] moklick commented on #399
Hey @namack

I thought about this too and there is another issue #384 regarding this one. I would prefer to do a major update with all handlers updated.

[2020-08-04 18:21] moklick commented on #384
We will continue the discussion in issue #399

[2020-08-04 18:21] #384 closed

[2020-08-04 19:17] moklick commented on #399
released in v5.0.0

[2020-08-04 19:17] #399 closed

[2020-08-04 19:19] moklick commented on #384
released in v5.0.0

[2020-08-05 06:10] agarwal00s commented on #384
@moklick which key values in mouseEvent gives us the position?
Actually I want to create a node whenever the user starts a connection and drop it in the canvas, need that position to create a new node

[2020-08-05 16:38] pitkes22 opened #403 "Invalid type of onConnectStop prop"
In new version, type of `onConnectStop` is `() => void`, I think it should be  `OnConnectStopFunc`.

https://github.com/wbkd/react-flow/blob/8544f9802fc3766a32836ba72635d0582a702fa5/src/container/ReactFlow/index.tsx#L47

[2020-08-05 16:58] #403 closed

[2020-08-05 17:02] pitkes22 commented on #399
Its abbreviation of `event` to `evt` really needed? It's subjective thing, but I think that word event is short enough to not be abbreviated and also everywhere in DOM and React API it is called `event`.

[2020-08-05 17:02] moklick commented on #403
thanks! Should work with v.5.1.1

[2020-08-05 19:49] moklick commented on #399
I don't have a strong opinion about that. But you are right, React also uses `event`. I think  I will refactor it I order to use `event` instead of `evt`.

[2020-08-06 04:51] bathinaMounika commented on #403
Why it should be OnConnectStopFunc ? Do you explain the reason?

[2020-08-06 05:30] agarwal00s opened #404 "Get the position of canvas onConnectStop()"
@moklick I want to add a new node where the user stops the connection on the canvas, now we have added mouse event, but how we can get the exact position on the canvas from that mouseEvent ?

[2020-08-06 08:10] moklick commented on #404
This question is not specific about React Flow but has something to do with Javascript in general. Please ask questions like this on StackOverflow.

You can get the position of a mouse event by using the keys `clientX` and `clientY`.

[2020-08-06 08:10] #404 closed

[2020-08-06 10:46] pitkes22 opened #405 "onConnect event fires before onConnectStop event"
Right now `onConnect` handler is called before `onConnectStop`. I think that expected behavior is that `onConnect` will be called as last.

[2020-08-07 09:43] emielwit commented on #356
Yes much better thank you!

[2020-08-07 14:04] kagia opened #406 "onElementClick is not working on 5.1.1"
In the Basic Demo there is no `click` message in the console if I click on a node..

[2020-08-09 08:59] moklick commented on #406
Hy @kagia

I can't reproduce this. When I go to [reactflow.dev](https://reactflow.dev/) (where the latest version is deployed) everything works as expected.

[2020-08-10 07:23] kagia commented on #406
if you edit line 7 of the Basic Demo:

[code]

to have some other message of your choosing

[code]

you will notice that the callback isn't being fired.

[2020-08-10 10:07] #405 closed

[2020-08-10 10:11] moklick commented on #406
I still can't reproduce this. The basic example is deployed under https://reactflow.dev/basic. When you click on a node you see  the message `click`. The landing page displays the [Overview example](https://github.com/wbkd/react-flow/blob/master/example/src/Overview/index.js).

[2020-08-10 11:58] kagia commented on #406
You're right, I'll go ahead and close the issue.

Thanks for the help!

[2020-08-10 11:58] #406 closed

[2020-08-10 18:14] wdfinch opened #418 "React Component as Label"
First of all, thank you for all the amazing work on this library. I'm really enjoying using it. I was wondering if it would be possible to add the ability to use a React component as a label rather than just plain text. My use case is I would like to do some custom styling that just isn't easily supported with SVG elements. Thanks!

[2020-08-10 18:34] wdfinch opened #419 "Edge Label Width Incorrect"
I'm noticing that the width on the background rect element for edge labels is too small for the provided text. This means the background color is not fully covering the text.

I think the issue is the edgeRef is calculating the width before the element has finished rendering in some cases. I'm able to solve the issue by adding a small delay to checking textBbox.width.

[2020-08-10 18:54] moklick commented on #418
Hey @wdfinch

Are you talking about an edge Label?

[2020-08-10 19:36] wdfinch commented on #418
Yes. So creating a custom edge works fine for custom logic, but the issue is it seems like I can only use SVG elements to render the edge label. So for example, if I wanted to use a div, h1, img, or some combination of those like in a typical component, it doesn't seem like that's possible right now.

Additionally, if I want to use an existing edge type (for example the bezier edge) and I just wan

[2020-08-10 19:56] moklick commented on #418
Right now the edges are drawn as SVG paths so we are already in a SVG context. You could use `foreignObject` for your custom label within your custom edge type. I will check how we can simplify the creation of new edge types / how we could re-use the existing ones.

[2020-08-10 20:04] wdfinch commented on #418
Gotcha. Ok, I'll check that out. Thanks so much for the help.

And yes I think it would be really nice to reuse logic from existing types as this would save a lot of copy and paste if you only want to change certain features of the edge like the label and not the path part.

[2020-08-10 20:04] #418 closed

[2020-08-10 20:11] moklick commented on #419
Sorry I can't reproduce this. Can you create a codsandbox?

[2020-08-10 20:52] wdfinch commented on #419
https://codesandbox.io/s/cranky-worker-dymfw?file=/src/App.js

I believe the issue occurs when using a custom font for the edge label. The font needs to load and the size is calculated before the font is initialized. It is not updated when the ref width changes.

The sandbox will only show the incorrect width on the first load as the font will get cached by the browser. You can try dumping the cac

[2020-08-10 21:35] moklick commented on #419
You are right. It is because of the font that is not loaded when we measure the dimensions of the label. I would not add a delay, because we never know when the font is loaded. Maybe you are able to handle this issue when you use a foreignObject as a label.  Either way, I would like to close this issue as it is an edge case in my view.

[2020-08-10 21:35] #419 closed

[2020-08-10 21:47] MatthieuJnon opened #420 "Can not add className to edge"
Hi, adding a className to an edge doesn't seem to work.

Reproduced the issue in a codesandbox : https://codesandbox.io/s/objective-allen-w04y7?file=/src/Graph.jsx

Thank you for this otherwise amazing library.

[2020-08-10 21:49] wdfinch commented on #419
Sounds good. Yes, the delay was a temp fix. I wish there was an easy way to know when edgeRef.current.getBBox() had a new width, but I guess this isn't possible using a hook.

[2020-08-10 21:53] wdfinch opened #421 "Edge Props"
Would it be possible to add some additional options to edges to change:

1. The border-radius of the background rect (rx property)
2. The padding of the background rect. This is currently hardcoded in.

Would be great to changes these without having to create a custom edge.

[2020-08-10 21:54] MatthieuJnon commented on #420
Side question: If I want to add a button instead of a label to a smoothstep edge, do I have to copy the whole smoothstep component in a file of my own , and write svg for that button ? (and thus losing future improvements on this component if I don't  manually copy it again)

[2020-08-10 22:13] moklick commented on #419
We are using `ResizeObserver` for the nodes but I think it's a bit too much for the edge texts.

[2020-08-10 22:17] moklick commented on #420
Hey @MatthieuJnon

I think you found a bug :) I will check it tomorrow.
We are also releasing some edge utils in the next days (you can have a look on the `develop` branch). They should help you to create custom edges.

[2020-08-10 22:20] moklick commented on #421
1. Can you adjust the border-radius with the `labelBgStyle` option or by using the classname `react-flow__edge-textbg`?
2. Good idea, we will add that!

[2020-08-10 22:26] wdfinch commented on #421
1. I don't think so because rx is an HTML attribute, not a CSS property. Unless there is some other way to change the border-radius of a vector that I'm not aware of, I think you need access to that attribute.

[2020-08-11 06:46] agarwal00s opened #422 "Position Difference onPaneMove"
@moklick I need a position difference from the default position (0,0) when the user has moved the pane so that I can calculate accurate node position

[2020-08-11 07:48] moklick commented on #422
Hey @agarwal00s

can you exactly describe what you want to do? Why do you want to calculate node positions?

[2020-08-11 07:52] agarwal00s commented on #422
I am trying to create a node when we start a node connection and drop it on the canvas. The node position depends on where the user stopped (onConnectStop), so I'm getting the mouse event onConnectStop, but if the user has moved the pane then my node position has to be changed depending on how much the pane is moved, that's why I want this difference value.

[2020-08-11 08:31] #420 closed

[2020-08-11 08:44] moklick commented on #422
If you want to get the internal position from a screen position you can use the `project` function that is part of the `reactflowInstance` you receive in the `onLoad` callback. This function is meant to be used for drag and drop handling.

[2020-08-11 08:45] moklick commented on #420
This should work with v5.2.0. We also exporting some edge utils now that should help you to implement a custom edge.

[2020-08-11 08:52] agarwal00s commented on #422
Thanks @moklick it worked out.

[2020-08-11 08:52] #422 closed

[2020-08-11 10:35] emielwit opened #424 "onElementClick is not working when nodesDraggable is set to false"
When you set `nodesDraggable={false}` the `onElementClick` is not working anymore.

You can test it here https://reactflow.dev/interaction to enable only selectable.

[2020-08-11 13:08] MatthieuJnon commented on #420
Thank you so much. I can't believe how reactive and helpful you are!

[2020-08-11 17:13] #424 closed

[2020-08-11 17:25] moklick commented on #424
released in v5.2.1

[2020-08-11 18:53] wdfinch opened #425 "Issue Edge Stacking Order"
Edges will stack in the order they are laid out in the page HTML. However, the edge labels will also follow this order. Therefore, edge lines will be placed on top of edge labels for edges with a lower stacking order.

I think the default behavior should be that edge labels should always be placed above edge lines regardless of their order in the HTML.

I tried changing the z-index of the edge lab

[2020-08-12 04:45] agarwal00s opened #427 "Distinguish overlapping Edges"
@moklick Is there any way we can show an overlap icon or a curved type of edge where 2 or more edges are overlapped?
Current:
<img width="275" alt="Screenshot 2020-08-12 at 10 04 56 AM" src="https://user-images.githubusercontent.com/22545835/89975439-5c902b00-dc83-11ea-98b5-117ab6ff38b1.png">
Expected:
![0dd96942-b706-434b-9407-f54698323a45](https://user-images.githubusercontent.com/22545835/89975

[2020-08-12 08:10] moklick commented on #427
Hey @agarwal00s

this is a nice feature but very hard to implement. I'm not sure if we're going to implement this but I know it's not going to happen in the near future.

[2020-08-12 08:33] moklick commented on #425
Unfortunately there is no z-index in SVG world. The rendering order is based on document order so we would need to create another group that gets rendered after the edges. Maybe we could achieve this with portals? I would like to keep the edge texts inside the edge components 🤔

[2020-08-12 08:59] moklick commented on #271
hey @bartvanremortele I will close this issue for now. Feel free to open a new one for discussing the switch from d3-zoom to another zoom/pan library.

[2020-08-12 08:59] #271 closed

[2020-08-12 11:20] moklick commented on #425
I think the best way would to refactor the edge label rendering that they get their own renderer which always renders the labels ob top of the edges. The advantage of a own renderer would be that we could use divs for the labels which would make it more flexible and easier to style.

[2020-08-12 11:21] #421 closed

[2020-08-12 11:28] moklick commented on #421
`labelBgBorderRadius` option is released in v5.3.0

[2020-08-12 17:01] agarwal00s opened #429 "Edge Hover Event"
@moklick I was trying to implement a feature, where on hover of edge I will show a delete icon and if the user clicks on that the edge will be deleted
It will be helpful if we can get an event when the mouse enters an edge and leaves an edge with the edge information.
Currently, we have only for node

[2020-08-12 22:32] moklick commented on #429
@agarwal00s the easiest way for now would be to implement a custom edge. We are exporting edge utils and also the `EdgeText` component.

[2020-08-13 02:46] floofydoug opened #430 "Data OnElementClick"
A node returns a meta data object on the element object, but an edge does not.
A custom edge has the ability to carry a data object.

A more uniformed approach should return a data object for both if it exist onElementClick().

[2020-08-13 07:22] #430 closed

[2020-08-13 07:31] moklick commented on #430
Good finding :) We are now passing the data in the `onElementClick` handler. It's released in v.5.3.1

[2020-08-13 12:37] KSURENDRA517 opened #431 "Add node event"
Could you please explain, how to add a new node, dynamically

[2020-08-13 12:42] #431 closed

[2020-08-13 12:42] KSURENDRA517 commented on #431
https://github.com/wbkd/react-flow/blob/master/example/src/Empty/index.js#L13-L21

[2020-08-13 12:43] KSURENDRA517 commented on #431
https://github.com/wbkd/react-flow/issues/394

[2020-08-13 16:31] wdfinch commented on #425
That sounds like a good approach.

[2020-08-13 17:55] floofydoug commented on #430
awesome! thank you!

On Thu, Aug 13, 2020 at 12:31 AM Moritz <notifications@github.com> wrote:

--
Doug Phung
703.814.2608

[2020-08-13 18:13] wdfinch opened #432 "elementsSelectable Additional Options"
Right now all elements are either selectable or not selectable. However, I would like to make my nodes selectable and my edges not selectable.

Can the ability be added to choose between edges vs nodes being selectable?

This could even go as far as passing in an array of all the element ids that are selectable for additional flexibility.

[2020-08-14 08:27] moklick commented on #432
Hey @wdfinch

you can already do this by using the edge option `selectable`.

[2020-08-14 16:15] wdfinch commented on #432
So that works with controlling which nodes are selectable. The issue is I don't want my edges to be selectable. Would it be possible to add the `selectable` options to edges as well as nodes?

[2020-08-14 18:12] moklick commented on #432
If you set the general option `elementsSelectable=false` the edges should not be selectable

[2020-08-14 18:25] wdfinch commented on #432
Got it ok that works. It might be good to clarify this in the docs as `elementsSelectable=false` seems like it would make nothing selectable rather than being able to be overridden.

I guess the only case this doesn't cover is if the user wanted to only be able to select edges. Not sure if that's a common enough use case to add that in.

[2020-08-14 18:25] #432 closed

[2020-08-14 18:43] wdfinch opened #433 "Percent Zoom in Controls"
A helpful tool in controls would be zoom to percent. This would be a text input that would serve two purposes:

1. Show the current zoom level (between 0 and 100%)
2. Easily move to a percent (so the user doesn't need to click the zoom in/zoom out button many times)

Would be great if something like this could be added.

[2020-08-14 18:47] moklick commented on #432
If you only want to select edges you can set all nodes `selectable=false`.

[2020-08-14 21:21] wdfinch opened #434 "Issue "Cannot read property 'offsetWidth' of null""
Occasionally on load I will get the error:

Uncaught TypeError: Cannot read property 'offsetWidth' of null
    at getDimensions (zoom.js:420)
    at zoom.js:420
    at easy-peasy.esm.js:333
    at simpleProduce (easy-peasy.esm.js:305)
    at runActionReducerAtPath (easy-peasy.esm.js:332)
    at reducerForActions (easy-peasy.esm.js:342)
    at rootReducer (easy-peasy.esm.js:361)
    at dispatch (re

[2020-08-15 17:29] moklick commented on #433
It's a good idea but we will not implement this feature because we want to keep the core features as small as possible.  It should be relatively easy to implement a feature like this and you could publish it so that other people could use it too. Check out the controls component to get an idea how you could build your custom zoom control.

[2020-08-15 17:47] wdfinch commented on #433
Sounds good. I noticed there are zoom in and zoom out helper methods. Would be possible to add a zoom to helper method that takes a number between zoom min and zoom max?

[2020-08-17 15:59] moklick commented on #429
Does it work for you @moklick ?

[2020-08-19 10:23] alexdawes opened #442 "fitView does not fit for the actual shape of the graph"
I've had mixed results using the `.fitView()` method - when both the graph and the space being drawn in are quite rectangular, the graph can end up zoomed out quite a bit.

I believe this is because the value being used to determine the (unclamped) zoom-level is the max of the width and height of the nodes rectangle, meaning actually its the smallest square that can contain the graph that is behin

[2020-08-19 10:27] alexdawes commented on #442
PR opened: https://github.com/wbkd/react-flow/pull/443

[2020-08-19 12:55] pulli7 opened #444 "How to Get Position of multiple dragged Nodes?"
Maybe it's just me being stupid, but i can't figure out how to get the modified coordinates of dragged nodes, when multiple nodes are selected and dragged to a new position together. (dragging itself works, but i cant get the positions into my local state)

For a single node onNodeDragStop() works fine, but it does not get called when dragging multiple nodes at once.

I tried to make use of onLoad

[2020-08-19 16:45] moklick commented on #442
I just merged the PR! Thanks a lot :)

[2020-08-19 16:45] #442 closed

[2020-08-19 17:14] #433 closed

[2020-08-19 17:22] moklick commented on #433
The `reactflowInstance` now also has a `zoomTo` function where you can pass a zoomLevel between min and max zoom. It's released in v5.4.0

[2020-08-19 17:24] moklick commented on #434
I added a check if the dom node is available. Could you check if it works now with v5.4.0

[2020-08-19 17:28] moklick commented on #444
Hey @pulli7

Could you check out the [provider example](https://reactflow.dev/provider) ([source code](https://github.com/wbkd/react-flow/blob/master/example/src/Provider/Sidebar.js#L18-L22)). There we read out the updated node positions. Does it help?

[2020-08-19 21:01] moklick opened #446 "Clean up Interfaces"
we should check out where we can extend existing interfaces in order to reduce repetitions.

[2020-08-19 22:31] L33thaxor118 opened #447 "project() not working when using ReactFlowProvider"
I recently started using ReactFlowProvider and I noticed that the **project** function stopped working properly. My application has a sidebar where I can drag items and drop them into the react-flow-renderer. I use **project** to convert the screen coordinates so that the new node will appear at the drop location even after panning. This works perfectly fine when the provider is not present. As so

[2020-08-19 22:48] moklick commented on #447
Hey @L33thaxor118

thanks for the report but there is already an issue for this bug #285

I hope you can find a workaround for now.

[2020-08-19 22:48] #447 closed

[2020-08-20 06:49] #285 closed

[2020-08-20 06:53] moklick commented on #447
Hey @L33thaxor118

your issue was a good motivation to look into this bug again ;)
It should work with v5.4.1.

[2020-08-20 07:29] amirsaeed671 opened #449 "syntax error in Access Internal State and Actions 's example"

[2020-08-20 07:33] amirsaeed671 commented on #449
PR is created #450

[2020-08-20 09:11] #449 closed

[2020-08-20 12:15] buitrung opened #451 "How can I achieve 1-way connection between nodes?"
First of all, thank you for this awesome library, I can make my graph the way I want with ease.
However, I was trying to create a graph where every node only provides the 1-way connection: click & hold the mouse button on the "source Handle", drag to the target node (anywhere inside the target node, not only around its "target Handle") and release the mouse button to create the connection.
I figur

[2020-08-20 13:24] pulli7 commented on #444
Thank you, i totally forgot about that option (even started out with the provider example at the very beginning)...

That indeed helps, i can now get the coordinates of the dragged nodes. Feels a bit strange to do it that way for my specific usecase though, as i would like to update my local state only when nodes are dropped, and not while still moving. (I am using your package to build a graphica

[2020-08-20 19:34] moklick commented on #444
You are right. We might add `onSelectionDragStart`, `onSelectionDrag` and `onSelwctionDragStop`. What do you think about that?

[2020-08-20 21:12] pulli7 commented on #444
I think that would be a nice addition to the otherwise already great package.
Would make application code simpler an cleaner in usecases similar to mine.

[2020-08-21 07:19] moklick commented on #451
Hey @buitrung

thanks for your kind words :)

You need to implement some custom behaviour here but I think it's possible.
I would try this:

1. Make all target handlers invisible by default
2. Make them visible by setting a with a flag or class in the `onConnectStart` handler
3. Unset the flag or class in the `onConnectStop` handler with a 1ms timeout (I just saw that `onConnectStop` gets called b

[2020-08-24 10:43] Harish-Hk opened #459 "React flow nodes not render in tab approach"
Hey,

I'm using a tab approach in my project which is [Reactstrap Tabs](https://reactstrap.github.io/components/tabs/)
where I have three tabs by default and second tab consists of the react-flow rendering nodes/steps rendered from database.
If I load the first tab by default(which is usual) and switch to second tab, I don't see any nodes - the whole react-flow pane is empty.
but If I load the sec

[2020-08-24 21:14] moklick commented on #451
I think you are right. I thought that we would need a function that gets called after `onConnect` but it makes no difference. You can use `onConnectStop`.

[2020-08-24 21:14] #451 closed

[2020-08-25 04:52] buitrung commented on #451
Here is the order of method called:
`onConnectStart`
`onConnectStop`
`onConnect`
`onConnectEnd`

If the connection is not established then `onConnectEnd` will not be called, that's the difference.

In my case, using one over the other makes no difference. However it is still convenient to have these both methods, like when I want to make sure user has successfully dragged the connection line to a

[2020-08-25 07:25] moklick commented on #459
I could image that there is an issue with the dimensions of the parent container. The inactive tab is not rendered and has no width and height but you try to initialize the ReactFlow component inside of it. Could you try to only render the ReactFlow component when its tab is active?

[2020-08-25 10:46] emielwit opened #460 "Move canvas when hitting canvas edge while dragging an item"
Hey,

I have a sidebar with elements where I can drag items on the canvas. I'm curious if there is a function that I can get from the store or something to move the canvas when I want to drag an item on a tree that is not visible. So when I hit the edge of the canvas the canvas is moving to that side. For example, I want to drop my item on one of the elements that are not visible (see image).

![i

[2020-08-25 22:18] moklick commented on #451
Alright! I am glad it worked out for you :)

[2020-08-25 22:23] moklick commented on #460
Hey,

we have a similar issue #392 where a user wants to move the pane when a node gets dragged out of the viewport.

You could try to use the `setInitTransform` action. This action also updates the internal d3-zoom state and not only the `transform` store state.

[2020-08-26 04:35] pranithasri opened #461 "is there away to find incoming and"
Is there any helper function to find number  of incoming and outgoing edges?

[2020-08-26 08:02] moklick commented on #461
Hey. There is a helper function `getOutgoers`. You can find it in the Readme. Unfortunately there is no `getIncomers`. We will add it soon

[2020-08-26 08:21] afallon02 commented on #460
This would be an amazing feature - +1 for it's implementation

[2020-08-26 10:22] pranithasri commented on #461
thank you

On Wed, Aug 26, 2020 at 1:32 PM Moritz <notifications@github.com> wrote:

[2020-08-26 14:21] Harish-Hk commented on #282
Hey there, I'm facing this issue too.

I'me using many nodes in my project and thats like this.

[code]
any idea what I might be doing wrong?

Thanks in advance

[2020-08-26 15:17] piiok opened #462 "Cant refresh type of node"
I  have some nodes, and i change type of a element but not change.

[2020-08-27 07:40] moklick commented on #462
There is no specific reason I guess but the `type` option is not dynamic. I will look into it.

[2020-08-27 09:33] emielwit commented on #460
Thanks, I will take a look if I can find a solution for this. I will close the issue for now :)

[2020-08-27 09:33] #460 closed

[2020-08-27 20:57] moklick commented on #460
Let us know of you do :)

[2020-08-27 21:59] moklick commented on #282
Can you show us a code example?

[2020-08-28 02:45] JamesyJi opened #463 "How to update/re-render elements on click?"
Hi, I'm kind of new to react and very new to this library.

I've been playing around with the interaction example and I'm trying to get a node's name to change after clicking. However, the node doesn't visually reflect this new update and won't update unless I toggle the "connectable" checkbox. My hacky method was to just manually toggle "connectable" in onElementClick() but obviously this is not

[2020-08-28 03:45] nileshlande12 commented on #299
@moklick - This is the most awaiting feature for this library, are you planing to enhance this, or is there any other workaround for zooming.

[2020-08-28 07:52] moklick commented on #463
I could imagine that the problem is that you don't create a new data object but only change the `label` key.

Could you create a codesandbox or something like that so that I can have a look?

[2020-08-28 09:04] JamesyJi commented on #463
https://codesandbox.io/s/sweet-shamir-mkuqs?file=/src/interact.js

It's essentially same as the interaction example but with changes to onElementClick() starting at line 21.

To reproduce, turn on capture element click, click on any node. Console will show the label has been updated but visually it isn't. Then toggle connectable to see change reflected in the node (note that none of the other togg

[2020-08-28 09:55] emielwit commented on #460
I found a solution, FYI I'm using `react-dnd` for dragging items from a sidebar on the canvas.

I made a component that I can place on top of the canvas. I render this component only when I start dragging. When I hover over one of the custom components its starts to move the canvas. I use the state, store, and useEffect to trigger the canvas to move. I still need to give the `MoveCanvas` component

[2020-08-28 10:08] afallon02 commented on #460
@emielwit that is a really cool solution - thank you so much for sharing. Also - I hadn't heard about react-dnd and that looks like a really cool library so thanks for sharing.

[2020-08-28 10:58] Harish-Hk opened #465 "Content inside node not able to select"
Hey there,

I have few inputs inside a node and I want to be able to select the text inside that input.
But when I drag the mouse with left click, whole not is getting dragged, instead of selecting the text.

So, I was going through the node properties, and set **nodesDraggable={false}** which kind of works for my requirement mentioned above.

But there are some cases where nodes are overlapping o

[2020-08-28 11:27] moklick commented on #465
Hey @Harish-Hk

this is not documented (I will add it soon :)) but you can use the additional class `nodrag` for your input elements and they should not be draggable anymore. I hope it helps.

[2020-08-28 11:37] moklick commented on #463
Ok, I see. You need to update your state in order to tell ReactFlow that you changed something. I updated your example here https://codesandbox.io/s/stoic-torvalds-ll6wo?file=/src/interact.js

[2020-08-28 11:37] #463 closed

[2020-08-28 12:13] moklick commented on #460
I am glad you found a solution you could build around react flow :) I will have a look how you solved it, thanks!

[2020-08-28 13:51] Harish-Hk commented on #465
Hey @moklick
I'm so glad that you respond to queries super quick.

just have an other question.

the above class you mentioned ```nodrag``` works, is it more of a custom class for this ```react-flow``` package, or a normal class?

[2020-08-28 17:25] moklick commented on #465
We are using `react-draggable` for the dragging of the nodes. We configured it that the class `nodrag` cancels the dragging behavior.

[2020-08-28 17:25] #465 closed

[2020-08-28 18:57] #444 closed

[2020-08-28 19:04] moklick commented on #444
The new event handlers are available in v5.6.0

[2020-08-29 13:24] JamesyJi opened #467 "Positioning Handles in Centre of Node"
Hi, are there future plans to add "centre/middle" to position of Handles? It would make edge connections look a lot cleaner (especially in radial trees such as [https://en.wikipedia.org/wiki/Radial_tree#/media/File:Radial_tree_-_Graphic_Statistics_in_Management.svg](url) and just designs in general where nodes sprawl out in all directions with connections coming from all angles).

For example, I'm

[2020-08-30 14:34] hayeselnut commented on #467
Please implement this feature! I would really appreciate it too

[2020-08-31 09:03] buitrung opened #476 "Method `onElementsRemove` doesn't provide id of source handle if there're multiple ones"
I have node with 1 input handle & multiple subnodes (each subnode has 1 output handle). The application state looks like this:

[code]
Output handle of each subnode uses the id of its subnode.

When I try to delete the edge `edge1` by pressing `Backspace`, which triggers `onElementsRemove`, I find out that source of the removed edge is `node1` (it should be `node1__subnode1`), so I can't detect wh

[2020-08-31 11:10] zommerberg opened #477 "Dragging a node out of the screen causes an error"
I am using next.js and when I drag the node out of the screen I get an error:

```Error: Unable to find node on an unmounted component.```

My setup looks like this
[code]
Is it possible to fix that?
Thanks a lot!

[2020-08-31 11:17] pulli7 opened #478 "Feature Request: Context Menu for Selection"
Now that we have _onNodeContextMenu(event: MouseEvent, node: Node)_, it would be cool to have the same also for Multiselections, so something like _onSelectionContextMenu(event: MouseEvent, node: Nodes[])_

Would be useful e.g. when you want to do actions like deleting or copying Nodes via Contextmenu.

[2020-08-31 12:49] moklick commented on #467
This should already be possible. You can implement a custom node and add handles with an adjusted position via the `style` prop. It should also be possible to overwrite the position of a handle via CSS.

[2020-08-31 14:48] JamesyJi commented on #467
For anyone with same problem in the future, just position="top", style: {top: '50%'} inside Handle should work

[2020-08-31 14:48] #467 closed

[2020-08-31 14:48] hayeselnut commented on #467
Thanks!

[2020-08-31 16:52] moklick commented on #477
That's a bug. As soon as a node leaves the pane we don't render it anymore in order to increase the performance.

For now the only thing you can do is to set `onlyRenderVisibleNodes` to `false`.

[2020-08-31 16:53] moklick commented on #478
Yep! Good idea :) we will add this feature soon.

[2020-08-31 17:14] 100le commented on #462
I also tried to update the **animated** option for the edges but its not reflected/re-rendered on the graph automatically.
Example:
`
const edges = useStoreState((store) => store.edges);

if (animateEdge) {
  const matchedEdge = edges.find((value) => value.id === 'edgeId');
  matchedEdge.animated = true;
}
`

[2020-08-31 18:01] piiok commented on #462
I solved it with a component inside the ReactFlow component like this:

`
const Example= (props) => {
  const [elements, setElements] = useState([]);
  const StateUpdater = () => {
    const nodes = useStoreState(state => state.nodes);
    useEffect(() => {
      console.log(elements)
      nodes.forEach((n)=>{
         const e = elements.find((item) => ( item.id === n.id))
         if(e && e.type

[2020-08-31 20:33] 100le commented on #462
I did something similar as the example above just with the Edges as i want to dynamically control the **animated** property of the edges but it doesn't work as well..

[2020-09-01 08:44] itsrimzz1 opened #479 "Question: How to restrict size of the main canvas?"
I have a requirement where I want to restrict the size of the main canvas so that users dont create so big diagrams that they can't be fit into one screen properly. I know I can disable panning and zooming. But is there another better way to achieve this which allows user to still use panning and zooming features but restricting how far they can drag and pan?

[2020-09-01 10:14] ThomasVlaar commented on #359
![Screenshot 2020-09-01 at 12 13 03](https://user-images.githubusercontent.com/56717030/91837428-84ecc300-ec4c-11ea-8862-c12a50a71388.png)

Hi There! We would love to see a scrollable canvas with the mouse! We are currently building a flow builder, and when it's becoming bigger and bigger our users expect to use the scroll to move the canvas. Are there any plans to work on this feature?

[2020-09-01 13:11] emielwit opened #480 "onPaneScroll event handler"
Hey,

What do you think of an `onPaneScroll` function like the `onPaneClick` to implement custom logic behind the scroll wheel? For example, you can move the canvas up and down with the `setInitTransform` with a custom function or any other logic.

Let me know how you think about this. If you want I can create a PR for this.

[2020-09-01 18:07] moklick commented on #480
Hey @emielwit

we could also think about adding a `useScrollToPan` option as it is suggested in #359. What do you think about that?

[2020-09-01 18:15] moklick commented on #479
For now there is no option to restrict the bounds of the pane. What you could do to solve this is adding some custom logic like this:

[code]

[2020-09-01 18:35] emielwit commented on #480
I think `useScrollToPan` is a good solution. I don't think there is any other case for scrolling then zooming and panning. Do you already have a solution in mind to achieve this feature?

[2020-09-01 18:47] moklick commented on #480
Unfortunately d3-zoom (which is used for zooming and panning) doesn't support this so we need to implement it by ourselves. Maybe this issue could help https://github.com/d3/d3-zoom/issues/46.

[2020-09-01 18:49] #429 closed

[2020-09-01 18:58] moklick commented on #476
Are you passing the id `subnode1` to the specific handle (like we are doing it here https://github.com/wbkd/react-flow/blob/master/example/src/CustomNode/ColorSelectorNode.js)?

[2020-09-01 19:02] moklick commented on #462
The `animated` property is dynamic. It's important that you update your `elements` array and pass the updated array to the ReactFlow component (like we are doing it [in this example](https://github.com/wbkd/react-flow/blob/master/example/src/Stress/index.js#L18-L34)). If you just change a reference, ReactFlow can't detect the change immediately.

The `type` property is not dynamic but we will chan

[2020-09-02 08:27] EmielW commented on #480
I created a PR for the `onPaneScroll` i will take a look at the `useScrollToPan` if I have some time left. I think for now the `onPaneScroll` can help people to create a custom solution.

[2020-09-02 08:56] JamesyJi opened #482 "Custom nodes trigger on click events twice"
EDIT: On further testing, this seems to be a problem with dragging also triggering on click events. By toggling nodesDraggable={false}, the on click event will only trigger once.

To reproduce:
1. Run the custom nodes example provided
2. Click on one of the custom nodes.
3. Check console and notice that the output appears twice, suggesting the click event is triggered twice.
4. **Temporary Fix**:

[2020-09-02 11:28] itsrimzz1 commented on #479
Hi Moritz,

Thank you so much for your reply. Following the above snippet, I was able to get the restrictions to work. Final code looks like:
[code]

Its still a little glitchy around the edges, so will be looking for your `translateExtent` changes. Hopefully that will be a little more smoother.

[2020-09-02 13:19] pranithasri commented on #359
Hi  @ThomasVlaar  , Did you use ReactFlow for this.If so,Is it possible  handles and draw edges?.please let me know.Iam curious about that.

[2020-09-02 20:44] 100le commented on #462
Can you also please enable this feature for the edges. I really need to option to dynamically change the edge `type` as well as the `node`.

[2020-09-03 07:58] buitrung commented on #476
Yes, that's right. In your example ColorSelectorNode, the `source` of the edge from `<Handle type="source" id="a" />` is `2__a` (I suppose that this is your internal convention style). But when removing the edge, the callback function doesn't give me that id, but only node id `2`.

[2020-09-03 08:30] moklick commented on #359
We added a `onPaneScroll` handler. This could help you to implement a custom scroll logic.

[2020-09-03 14:04] hayeselnut commented on #482
Hi, thanks for this library! If it's not too much to ask, could you provide an example of useStateActions and add it to the examples folder? I'm new to react and not sure how to get this working but I'm trying get my camera to centre on nodes I click. I've provided a basic template in code sandbox where clicking on the button should set the transform to 100, 100, 1. But it's giving me cannot getAc

[2020-09-03 14:06] hayeselnut opened #485 "useStateActions example?"
Hi, thanks for this library! If it's not too much to ask, could you provide an example of useStateActions and add it to the examples folder? I'm new to react and not sure how to get this working but I'm trying get my camera to centre on nodes I click. I've provided a basic template in code sandbox where clicking on the button should set the transform to 100, 100, 1. But it's giving me cannot getAc

[2020-09-03 16:37] code-guru opened #486 "findDOMNode is deprecated in StrictMode"
Using the latest version of react-flow, I'm getting the following error the reac-flow without any extra settings or customizations. It seems to be related to the latest change with react-draggable. Is it any workaround to not get this warning?

[code]

[2020-09-03 21:34] MatthieuJnon opened #487 "shift + drag preventing from selecting edges"
Hi,
I have a custom edge that displays a button in the center of it, the button changes depending on if the shift button is pressed or not. The issue is, when shift is pressed, the edge is not selectable and the button is not clickable. Is there a way to disable the shift+drag behaviour ? (I set selectNodesOnDrag={false})

[2020-09-03 21:46] #480 closed

[2020-09-03 23:17] andys8 opened #488 "Feature-Request: Auto fit view"
Hi :)

In my use case, I initialize `react-flow` empty. After some time the elements change, also depending on user actions.

I want to center the graph in these cases. Currently one has to grab the `reactFlowInstance` object passed in `onLoad` and store the reference. If the graph is changed from outside, `reactFlowInstance.fitView()` has to be called. I'm not sure why, but due to timing it also

[2020-09-04 06:46] pranithasri opened #489 "can I make nodes with out handles and connect them with edges?"

[2020-09-04 06:51] moklick commented on #489
You can hide them visually but you need them to connect the nodes.

[2020-09-04 07:02] #489 closed

[2020-09-04 07:11] moklick commented on #488
Hey,

I already thought about an `autoFitView` option but I am not sure which changes we should listen for.

[2020-09-04 08:05] EmielW commented on #487
I think you need `elementsSelectable={false}`

[2020-09-04 08:05] moklick commented on #487
Did you try to set another selection key with the `selectionKeyCode` option?

[2020-09-04 09:11] EmielW commented on #485
Hey,

I have a working example for you: [https://codesandbox.io/s/hopeful-glitter-5dv2w](url)

You have to define the function inside the `ReactFlowProvider`

[2020-09-04 09:45] moklick commented on #486
Hey @code-guru

I am not able to reproduce this. Where do you get this error?

[2020-09-04 10:43] chopfitzroy commented on #486
I am seeing this as well, using example code from README.

![image](https://user-images.githubusercontent.com/2978850/92230914-f902c180-eeff-11ea-8f74-7f7a51b4d723.png)

[2020-09-04 10:52] moklick commented on #486
Ok, thanks. I will look into it. Maybe this helps https://github.com/STRML/react-draggable/pull/478

[2020-09-04 13:46] ChristoRibeiro opened #491 "Styling the default CSS properties needs `!important`"
I'm currently using Nextjs with the library and it's a pleasure to use it! Thanks for the work @moklick!

I'm struggling when I try to override the default CSS properties provided by the lib. I need to add `!important` everywhere to make it work. I guess the example `background: red` from the README works because the property is not used from the lib. Here some examples from my CSS file:

[code]

[2020-09-04 14:52] MatthieuJnon commented on #487
Yes thank you very much ! Don't know why I missed that, if anyone is looking at this issue later, I used the 183 key code, which corresponds to the calculator button on some keyboards, doubt any users will think of using that.

[2020-09-04 14:52] #487 closed

[2020-09-04 14:56] andys8 opened #492 "Modify node selection from outside"
There is a way to listen for selection changes `onSelectionChange` and to define if elements are `selectable`.

If I'm not mistaken, there is no way define or change which elements are selected from outside. Also there is no way to ask which elements are currently selected on `reactFlowInstance` or with  `ReactFlowProvider`.

If that's correct, it would be neat to add this :)

**Update**
I guess o

[2020-09-04 15:09] code-guru commented on #486
@moklick exactly, there is also reference in their [changelog](https://github.com/STRML/react-draggable/blob/master/CHANGELOG.md) for v4.4.0
It seems like a simple fix, I was looking into it, if you didn't get the time, maybe I can take a look and send a pull request during the weekend 🙂

[2020-09-04 16:20] moklick commented on #491
Hey! I am also not very happy with the solution right now. We will definitely change the styling behaviour sometime.
For now you can try to use a stronger selector like:

[code]

I hope it helps.

[2020-09-04 16:20] #491 closed

[2020-09-04 16:26] moklick commented on #486
Thanks! Feel free to do a PR :) I can't work on this this week.

[2020-09-04 19:11] harish-madugula opened #494 "Nodes / Edges Disappearing"
Hey,

I don't know if I'm doing something wrong but when my flow has more than 10 or 15 Nodes, sometimes a Node gets disappeared,
when I try to find out what's wrong, for some reason, its `opacity` was set to 0 - to solve the issue, I had to explicitly set the `opacity` to 1 for the node using the classes

[code]
And sometimes, an Edge gets disappeared.

I dont see the edge connecting the first tw

[2020-09-05 10:10] #486 closed

[2020-09-05 10:11] moklick commented on #494
How can we reproduce this. In this example https://reactflow.dev/stress we have 100 nodes and everything works fine.

[2020-09-05 16:14] moklick commented on #462
released in v5.7.1

[2020-09-05 16:14] #462 closed

[2020-09-06 13:33] 100le commented on #494
I had the following issue once i stored the positions and re-rendered them again later on.
I noticed that **some of the Nodes** are missing and the edges are pointing to some strange positions in the graph but others were okey.
The problem was because i was using the .toFixed(2) which converted the Number in String and later when i tried to re-render the graph using the string position values some

[2020-09-07 10:22] pranithasri commented on #494
why in some systems "+" sign is not available when connecting nodes.

[2020-09-07 13:55] moklick commented on #494
How is your question related to this issue?

[2020-09-08 08:29] Harish-Hk commented on #494
@moklick Exactly, the stress works, but I don't know how to get my issue reproduced to a codepen or stackblitz.

Does it happen when the nodes overlap on one another?? but in the stress example, we do click change pos and that works fine. so not sure.

@100le  hey, thanks for your response, I did check my nodes positions, they're numbers...and nodes are rendering fine..its just the edges.

[2020-09-08 14:05] moklick commented on #494
What are you doing so that this problem occurs? Are you moving nodes around? Are you adding nodes dynamically?

[2020-09-08 14:19] Harish-Hk commented on #494
So I have a basic bootstrap tab approach, on opening the second tab, I'm mounting the react flow's parent component which render the nodes stored in the DB. switching to another tab unmounts the react-flow's parent component.

each rf node is basically another component.

![aug8](https://user-images.githubusercontent.com/28500085/92488101-bc8ada80-f20b-11ea-8cda-3a926cd8f7a0.JPG)

when I open seco

[2020-09-09 11:02] moklick commented on #494
Could you create a codesandox or repository with your tab/ReactFlow setup?

[2020-09-10 14:36] YoannBuzenet opened #500 "Added Node is blinking"
Hello,

First thank you for this amazing library. I really like it, well done and thank you for this job !

I have a question. I'm implementing a diagram from the code of a collegue, and there is a problem when I test it : when adding a new node in the array of **elements**, the new node blinks : it appears and then disappears really quickly. But it's still in the array. We must be doing something

[2020-09-10 14:55] moklick commented on #500
Hey.

If it's not too complicated you could try to create a codesandbox, so that we can check the code. At first sight i can't find any error. We have an example where we are adding a node dynamically: [source](https://github.com/wbkd/react-flow/blob/master/example/src/Empty/index.js#L13-L21)  [demo](https://reactflow.dev/empty)

[2020-09-10 16:33] #482 closed

[2020-09-10 16:33] #485 closed

[2020-09-10 16:33] #492 closed

[2020-09-10 16:33] #479 closed

[2020-09-10 16:39] moklick commented on #492
I added an example in the [provider example](https://reactflow.dev/provider).

[2020-09-10 16:42] moklick commented on #485
I added some example code of how to use an action in the provider example.

[2020-09-10 16:42] moklick commented on #482
Thanks for the report! Should be fixed in v.5.8.0

[2020-09-10 16:43] moklick commented on #479
We added a `translateExtent` option in v5.8.0

[2020-09-10 21:59] moklick commented on #476
We pass all selected elements to the `onElementsRemove` handler when you remove them. When you just want to remove an edge it is not important if it comes from a node with multiple handles. You only need the id of that edge. Are you still facing an issue here? If so, could you create a codesandbox?

[2020-09-11 06:58] YoannBuzenet commented on #500
We found the solution : the ID of the new node was an integer. If we pass it as a string everything works correctly.

[2020-09-11 08:18] moklick commented on #500
Ok, great :) I will see if we can convert it or throw a warning if an integer is used.

[2020-09-11 08:59] #461 closed

[2020-09-11 08:59] #478 closed

[2020-09-11 08:59] #500 closed

[2020-09-11 09:04] moklick commented on #500
A fix is released in v5.9.0

[2020-09-11 09:05] moklick commented on #478
added in v5.9.0

[2020-09-11 09:05] moklick commented on #461
added in v5.9.0

[2020-09-11 13:17] MatthieuJnon opened #503 "feature request: Edges going around nodes"
Hi, do you have any plans to add edges that could go around their source and target nodes if those are in the way of the edge path. Like this kind of behaviour here. That would be greatly appreciated. Without that feature we have to have several attach points on nodes depending on the direction the user wants to link to and where he moves his nodes after linking.

Thank you, let me know

<img widt

[2020-09-11 14:36] moklick commented on #503
For everyone who is checking out this issue, we have an overview of the current edge behaviours in the [edge-types example](https://reactflow.dev/edge-types).

We are not planning to refactor/change this part in the near future. PRs are very welcome!

[2020-09-11 15:07] #477 closed

[2020-09-11 15:11] moklick commented on #477
Thanks for the report! This is fixed in v5.9.1

[2020-09-11 18:37] Ixdane opened #505 "Having an issue with React and creating nodes from an array"
I am attempting to use react-flow to create a diagram dynamically.  Basically I have a list of "fixes", each fix having 3 modules.  I have an array with the modules for a fix, and I am sending it to the .js to return the ReactFlow object.  My issue is, if I try to build the initial state inside the function and then assign it, I get a crash and it tells me React thought it was in an infinite loop.

[2020-09-12 09:05] JamesyJi opened #506 "Nodes initialised with isHidden: true remains invisible after toggling to false"
Here is a very basic example code with 2 nodes. One is hidden at the start. Clicking on the button should toggle visbility.

https://codesandbox.io/s/peaceful-robinson-vr4gt?file=/src/App.js

Toggling it hides Node 2 but does not show Node 1 at the top. The thing is, if you move your mouse to near the top of the screen (to where Node 1 is, set isHidden to false to get an idea of its position), you

[2020-09-12 09:32] moklick commented on #505
When the `modules` array changes I would do:

[code]

otherwise you could use it directly as the default:

[code]

[2020-09-12 09:32] #505 closed

[2020-09-12 09:34] moklick commented on #506
This seems like a bug. I will look into it.

[2020-09-14 05:39] buitrung commented on #476
In my data structure, I store the `next_node_id` info in nodes & subnodes (if they have any, of course). So beside just removing the edge, I need to also clear that info if the edge has no longer existed, so it is necessary to know from which handle the edge is removed.

However, thanks for this suggestion I can still workaround by using id to find which edge is to be removed and do stuffs then.

[2020-09-14 11:04] #506 closed

[2020-09-14 12:27] EmielW opened #509 "Get Node and Edge by ID"
Hey,

Is there a helper where I can get the `Node` and `Edge` by ID?

[2020-09-14 21:09] moklick commented on #509
Hey,

no we don't have a helper for that.
You need to do something like this:

[code]

[2020-09-14 21:09] #509 closed

[2020-09-14 21:55] moklick commented on #476
Ah! I got it. Thanks for the hint. I will fix this.

[2020-09-15 04:20] underGhost commented on #461
Hey @moklick

I'm getting that `getIncomers` doesn't exist and I'm using `5.9.2`.

Also looks like the docs are using the same messaging as `getOutgoers`.

[2020-09-15 09:21] moklick commented on #476
Could you check if the solution in v5.9.3 works for you? We now pass the original source and handle ids to the edge click handler.

[2020-09-15 17:23] moklick commented on #461
Oh! I will correct that. The function should work with v5.9.3.

[2020-09-16 02:16] buitrung commented on #476
Yes it works!
However, after upgraded to v5.9.3 now I can't use `onElementClick`: sometimes it is called, sometimes it isn't. Not sure if this is a bug? Please check if it is also your situation.

[2020-09-16 07:28] pranithasri opened #512 "Is only label key is used to dispaly name on node .Can't we use any custom key to replace label"

[2020-09-16 09:36] moklick commented on #512
If you want to use another key / data structure you need to implement a custom node. You find an example of a custom node in the examples folder.

[2020-09-16 09:36] #512 closed

[2020-09-16 14:03] moklick commented on #476
I can't reproduce the problem with the `onElementClick` handler. If you can't solve it and you think there is a bug, please open a new issue. Thanks for the report 👍

[2020-09-16 14:03] #476 closed

[2020-09-16 21:32] floofydoug opened #513 "Custom Nodes "onConnect" function not firing"
Cannot see the console log in the Custom Nodes example.
this is the 'onConnect' function on the Handler component.

[2020-09-17 04:27] mymywang commented on #5
Thanks for the sample code! I'm also trying to integrate with dagre, but I need to get the node's DOM size instead of hardcoding the NODE_WIDTH and NODE_HEIGHT for layout. It's because the node size is dynamic depending on the content inside the node.

I'm trying to set `ref` to my custom node elements, and grab the node DOM size after the initial rendering, and then use dagre to do auto-layout. H

[2020-09-17 07:58] benjamin-henry opened #514 "getIncomers function"
please add the following code to your utils :

const getIncomers = function (node, elements) {
    if (!isNode(node)) {
        return [];
    }
    var incomersIds = elements.filter(function (e) { return isEdge(e) && e.target === node.id; }).map(function (e) { return e.source; });
    return elements.filter(function (e) { return incomersIds.includes(e.id); });
};

And this to the exports :
export

[2020-09-17 08:11] moklick commented on #513
The function gets triggered when you connect **to another node** from that handle.

[2020-09-17 08:11] #513 closed

[2020-09-17 08:24] moklick commented on #514
This code is already part of ReactFlow and also gets exported.

[2020-09-17 08:24] #514 closed

[2020-09-17 09:08] moklick commented on #5
Hey @mymywang

we are tracking the current dimension of each node under `node.__rf.width` and `node.__rf.height`. You can get the nodes from the store as seen in the [provider example](https://github.com/wbkd/react-flow/blob/master/example/src/Provider/Sidebar.js#L5). We are updating the dimensions when the size changes. Does it help?

[2020-09-17 16:58] wdfinch opened #515 "Bug - Uncaught TypeError: Cannot read property 'position' of undefined"
My app is crashing due to an uncaught exception. See below for details. Perhaps this could be handled more gracefully such a console warning?

[code]

[2020-09-17 17:04] moklick commented on #515
Hey! Thanks for the report. How can we reproduce this issue?

[2020-09-17 17:09] moklick commented on #459
I will close this issue. We can continue to discuss this in #494

[2020-09-17 17:09] #459 closed

[2020-09-17 17:10] moklick commented on #494
Hey @Harish-Hk!

any news about this issue? Otherwise I would like to close it.

[2020-09-17 17:24] Harish-Hk commented on #515
Hey,

I think you are trying to access the position property of an element which is not a node (may be an edge).

so, that error usually comes when you try to access position which doesnt have position.

Try checking with the built in - isNode(arr[element]) && // your functionality.

just a guess.

try if it works. I got this issue few times.

            if (isNode(el)) {
                // your

[2020-09-17 17:30] wdfinch commented on #515
So the issue happens when the flow is being rendered. I'm not trying to access the position property of a node. I'm not sure what's causing this as my input seems valid.

[2020-09-17 17:32] Harish-Hk commented on #515
can you may be post the input,
and a way to debug it.
we'll see if we can help in any way.
:)

[2020-09-17 17:48] moklick commented on #515
Can you create a codesandbox or repo so that we can check your code?

[2020-09-17 17:51] wdfinch commented on #515
Thanks for the help. Ok, I was able to reproduce the issue on code sandbox. The ReactFlow elements input below will consistently crash the flow renderer.

https://codesandbox.io/s/cranky-worker-dymfw?file=/src/App.js

[code]

[2020-09-17 17:55] wdfinch commented on #515
Sorry, actually it seems like another issue with rendering objects. Let me see if I can get the same error as before. This is the input I'm using.

[2020-09-17 18:21] wdfinch commented on #515
So I'm having a tough time reproducing because I'm using a number of custom labels as well as custom edges that would take some time to port over to code sandbox. I tried removing all of those, it seemed to render fine then. I'm going to do some more investigating to see if I can find the cause here. Hopefully, the stack trace above helps in some way. Thanks for the help here though. Really apprec

[2020-09-17 20:36] wdfinch commented on #515
@moklick @harish-madugula

Ok so after a lot of testing I finally was able to reproduce this in code sandbox.

The issue seems to be related to updating the position of a node, unmounting the flow render component, and then trying to remount. I also notice this issue when the nodes the flow works on are changed specifically when the flow rendered component is unmounted.

I think the issue is some

[2020-09-17 21:22] moklick commented on #515
Ok, thanks for the detailed information on this :) I will see how we can fix this

[2020-09-18 01:17] wdfinch commented on #515
Thanks, @moklick. It's really hard to use this feature in my app right now because of the crashes, so it would be awesome if this could be patched soon.

[2020-09-18 03:51] buitrung opened #516 "Feature request: can customize connection path as with edge path"
I have customized the edge path (more curved bezier path) to fit my needs of how nodes & edges look in my graph.
However, I cannot do that with the connection line, so when I drag the connection it doesn't look like an unfinished edge, and when I release the mouse button, it becomes an edge and changes to a different curve.
Can you provide some way to customize the connection path or just unify it

[2020-09-18 10:19] moklick commented on #516
Hey @buitrung

we can't unify it with the edge path, because we don't know which type of edge you are going to create. What we could do is to offer a `customConnectionLine` option. I will see how we can implement this feature.

[2020-09-18 10:55] moklick commented on #515
I just implemented a fix. Can you check v5.9.4?

[2020-09-18 12:44] harish-madugula commented on #494
No @moklick , the issue is still there but I dont understand why it appears.
unfortunately my project is very big and I can't get a way to reproduce it in a shorter way.

[2020-09-18 13:18] moklick commented on #494
Are you initializing the flow with elements stored in a database?

[2020-09-18 14:49] wdfinch commented on #515
Seems like this is fixed now. I will continue testing to make sure. Thanks so much for getting this out quickly. I really appreciate it.

[2020-09-18 16:18] is343 opened #518 "Issues with rendering curved edges"
I want to say thanks for creating this library! I really appreciate all that it offers with how simple it is to use!

However, I'm running into graphical issues when rendering any edge other than the straight one. It seems to be drawing the negative space as well. I don't think it has to do with my browser or operating system, as the react-flow demo site seems to work fine. Have you run into this

[2020-09-18 16:18] harish-madugula opened #519 "Doubt / Question : Do nodes get unmounted when they go out of sight : canvas or pane - react-flow-renderer"
Hey,

I want to know if the nodes get unmounted and mounted while they come and go out of sight? basically dragging the pane.

I set a height of some 1000px to the flow renderer, when I drag the pane up and down, the node gets unmounted. when I drag it back to top, it gets mounted.

Inside each node, I'm checking the `componentDidMount() {}` and `componentWillUnmount() {}` lifecycle hooks where, I

[2020-09-18 16:22] moklick commented on #518
Thanks! This is strange. We do a `fill:none` for `.react-flow__edge-path`. That should prevent the paths to get filled. Can you inspect an edge and check why `fill` is not `none` ?

[2020-09-18 16:26] moklick commented on #519
For a better performance we are only rendering nodes that are inside the viewport. If you don't want this behaviour you can set `onlyRenderVisibleNodes={false}`. This does not explain the data change but I would suppose that it is not related to ReactFlow.

[2020-09-18 16:26] #519 closed

[2020-09-18 16:34] is343 commented on #518
That was it! Upon inspecting, the parent container's class was overriding `fill`. Thanks so much for such a quick response!

[2020-09-18 16:34] harish-madugula commented on #519
hey @moklick , wow, I think that works for me.

But I have an other ques - will it have any issues if we have more number of nodes, which again have multiple states and data renders?

[2020-09-18 17:14] #518 closed

[2020-09-18 17:37] moklick commented on #518
Are you using some library around ReactFlow or why was it overwritten?

[2020-09-18 17:41] moklick commented on #494
I would like to understand if it's a problem with ReactFlow or your implementation, but it's hard to tell when I can't see the code. If you want you could give me read permission for your repo or send me the code somehow.

[2020-09-18 18:54] moklick commented on #519
Depends on your implementation but it's more a nice to have option because even when it is turned on all nodes can be inside the view port.

[2020-09-18 19:15] is343 commented on #518
It was from a class that I made for a parent div a couple layers up.

[2020-09-18 21:56] mymywang commented on #5
@moklick Yes that's exactly what I was looking for. Appreciate your fast reply!

[2020-09-19 11:46] moklick commented on #516
I added a `connectionLineComponent` option in v5.10.0. You can find an example of how the implementation in the [custom connection line example](https://github.com/wbkd/react-flow/blob/master/example/src/CustomConnectionLine/index.js).

[2020-09-19 11:46] #516 closed

[2020-09-20 05:34] wdfinch opened #522 "Custom Center with Edge Utils"
First off really I like the added edge utils. This makes creating custom edges much easier.

For my use case, I would like to be able to customize the center of the edge specifically for the smooth step edge. However, the getSmoothStepPath doesn't accept a custom centerX and centerY. Could this method be changed to accept these values?

[2020-09-20 05:35] wdfinch opened #523 "getEdgeCenter return type issue"
In the docs, it states the getEdgeCenter method returns `[centerX, centerY]`. However, the method signature is `[number, number, number, number]`. Shouldn't it just be `[number, number]`? Can someone explain what `[number, number, number, number]` represents?

[2020-09-20 14:23] pSnehanshu commented on #503
Hi @MatthieuJnon, could you help me with how to implement the attach points as you mentioned for the workaround? Examples would be fine.

[2020-09-22 20:19] wdfinch commented on #522
@moklick Do you have advice here? Really would like to use the custom edge utils with a custom center.

[2020-09-23 03:40] chiester commented on #515
I upgraded to 5.9.4 and I get a similar error: ```cjs.js:12 Uncaught TypeError: Cannot read property 'x' of undefined```

the `cjs.js` is:

[code]

[2020-09-23 07:28] YoannBuzenet opened #533 "fitView() on onLoad doesn't seem to act, but works with Control Panel"
Hello there,

I am currently working on the fitView() method on my diagram, but I see that it doesn't seem to fit on onLoad().

I am doing this, following the doc :
[code]

But it doesn't happen. But when I click on the fitView button on the control, it does work !

Here is how I use the props in the component :
[code]

I tried adding padding as a parameter, to do as the Control Panel . Here is th

[2020-09-23 12:50] moklick commented on #533
This is strange. Everything looks good and we are using the fitView function in our examples inside the onLoad handler too. Can you create a codesandbox so that we can check the code?

[2020-09-23 12:51] moklick commented on #523
Thanks for the hint I will correct this. The params are centerX, centerY, offsetX and offsetY.

[2020-09-23 15:19] wdfinch commented on #523
Thanks for the reply. Wouldn't offsetX and offsetY be something the user passed in rather than part of the return value? Shouldn't the return just be the final centerX and centerY?

[2020-09-23 18:39] wdfinch commented on #515
@chiester Could you link to a code sandbox with steps on how to reproduce the issue.

[2020-09-24 04:00] buitrung commented on #516
Apologize for late response, I've updated to 5.10.0 and cannot be more content with the feature.
Really appreciate your work!

[2020-09-25 09:34] nileshlande12 commented on #299
Is there any way to achieve this in customization ?

[2020-09-25 11:29] harish-madugula opened #534 "Re-render nodes after setting the state"
Hey,

Is there any function that we can call, to re-render the nodes?

here is my what I'm trying to do, I have a node, inside that I have a switch, to show and hide nodes emerging from it based on some condition.
I'm setting its `isHidden` property to `true` and `false` and setting the elements state, but that doesn't re-render the nodes and hide the nodes emerging from it until I drag a card, wh

[2020-09-26 09:48] moklick commented on #534
Can you create a codesandbox so that we can reproduce this issue? We are using the `isHidden` option in the [hidden example](https://reactflow.dev/hidden)

[2020-09-26 09:49] moklick commented on #522
Hey. I think we can add this option.

[2020-09-27 20:22] #523 closed

[2020-09-27 20:22] #522 closed

[2020-09-27 20:30] moklick commented on #522
released in v5.11.1

[2020-09-27 20:54] moklick commented on #299
Unfortunately I can't tell you any way to achieve this right now. The nodes and and edges consume the scroll event. We would need a solution that works with [d3-zoom](https://github.com/d3/d3-zoom). That's what we are using for dragging and zooming the pane.

[2020-09-28 12:03] harish-madugula commented on #534
Im doing the same, but I'm not getting the issue, is there any way to re-render the nodes, with the help of a function or something?

[2020-09-28 19:14] harish-madugula commented on #494
Hey,
I observed that for some nodes, the `isInitialized`  is being set to false, due to which the edge from that node is disappered.

is there any relation to that property and the edge not being rendered?

I also see in the nodeModues index.ts files, that if super() is not called, the prop `isInitialized` is set to false.

![image](https://user-images.githubusercontent.com/28500085/94475470-bffef

[2020-09-29 10:52] KutnerUri commented on #533
happening to me too. Fixed it by adding setTimeout, i.e.
[code]

[2020-09-29 14:26] KutnerUri opened #539 "expose prop types"
Prop types are not accessible from the library.
It should be easy to expose them, at least with typescript 3.8+.

[code]

etc

[2020-09-29 14:55] weimin-wati opened #540 "get position of elements"
Hello, there!
Thanks for providing this amazing module!
I'm stuck on getting position of elements.
Please let me know the way to get the position of every single element.

My code getting the node is below.
[code]
And I've attached the image of console result:

![Screenshot_3](https://user-images.githubusercontent.com/71246962/94576586-1715d480-02a8-11eb-9c60-bf878d560109.png)

[2020-09-29 15:15] moklick commented on #540
Hey!

We have an [example](https://reactflow.dev/provider) where we read out the node positions. You can find the source code [here](https://github.com/wbkd/react-flow/blob/main/example/src/Provider/Sidebar.js#L5-L27).

Does it help?

[2020-09-30 09:26] harish-madugula commented on #314
hey @itsrimzz1 can you tell me what was the silly mistake on that? I'm kinda stuck here on this warning.

thanks in advance

[2020-09-30 09:52] itsrimzz1 commented on #314
I solved it by doing as the error said. Setting the parent element's width and height. where parent element being the element enclosing `<ReactFlow {...props}/>` component. if it still doesn't work. Try setting the width and height of grandparents as well. My mistake was that I thought i set the width and height both, but actually missed.

[2020-09-30 11:52] harish-madugula commented on #314
hey @itsrimzz1 , thanks for the response.

I tried the above things, not just for the parent but all the grandparents, that doesn't seem to workout.

well, I don't get an error but a warning pops-up always, which is causing a small edge disappearance problem.

any other ideas you can suggest?

[2020-09-30 16:13] moklick commented on #533
Thanks for the hint regarding the `defaultPosition` prop. Could you check v6.0.0 ?

[2020-09-30 22:26] dpankros commented on #540
Isn't it just the something like: `this.props.nodes.forEach(n => console.log(n.position.x, n.position.y))` from within your snippet there?

[2020-10-01 11:50] code-guru opened #542 "Multi Selection does not work"
It is mentioned in the documentation that there is support for multi selection, and mention 'Shift' is the control key for selection and can be changed using selectionKeyCode property. However I couldn't make it work, and neither can see the functionally in the example on the website.

I select a node, and hold shift to select another node, but it won't select both, and change the selection to las

[2020-10-01 12:00] KutnerUri commented on #491
I'm seeing a couple of inline styles, which force me to use `!important`.

Edges have `pointer-events: none;` inline, and another `.react-flow__edge { pointer-events: all; }`. (why is this?)
I'm trying to show the label on hover, so I'm forced to add `pointer-events: all !important;`.

Minimap has inline style `background-color: rgb(248, 248, 248);` (why not in regular css?)

[2020-10-01 12:54] odus-ex commented on #533
I tried it out, fix not working for me in v6.0.0

[2020-10-01 14:29] KutnerUri commented on #533
same for me

[2020-10-02 08:30] EmielW opened #544 "Project broken since 6.0.0"
Hey,

Since update `6.0.0` my custom drag functionality is not working anymore. I can't grab a node on the canvas anymore and my transitions/animations inside my custom edges for dropzones are not working anymore as well. For the custom drag, I used `react-dnd`. Do you have any idea what could have caused this?

[2020-10-02 09:29] moklick commented on #544
Hey,

this is really strange we only changed the default styles.
Is everything working when you install v5.11.1?
Do you get any errors?

[2020-10-02 09:44] EmielW commented on #544
Thanks for your quick response.

Everything is working fine in `v5.11.1` it's broken since `v.6.0.0`. I don't get any errors but when I start dragging a node via `react-dnd` the drag handler is triggered but I don't see a drag layer anymore and after a couple of seconds the drag handler is cut off automatically.

[2020-10-02 10:21] EmielW commented on #544
I linked `react-flow` locally and i found the problem its because
[code]
is now

[code]

[2020-10-02 11:03] moklick commented on #544
oh no.. why is that a problem in your case? I could change it to the old version, but I thought it would be better when the types are dynamic props.

[2020-10-02 11:14] moklick commented on #494
Are you wrapping each of your flows with the `ReactFlowProvider` component? If not, could you try that?

[2020-10-02 12:01] EmielW commented on #544
Not sure what the problem is in my case. Defining the `nodeTypes` and `edgeTypes` outside the component did fix my problem. Not sure what you meant with the `useMemo` can you give me an example so I can try that as well? 😄

Thanks for your help 😃

[2020-10-02 19:11] floofydoug commented on #544
I was also getting this issue when using 6.0.0. downgraded back to 5.9.3 worked for me.

[2020-10-03 12:05] moklick commented on #544
Hey @floofydoug

could the fix that I explained above work for you too?

[2020-10-04 03:03] underGhost opened #545 "Dynamically changed Handles cause a break"
Hey!
First off let me say thanks for creating this awesome package!

I have different `NodeTypes` that have different amount of `<Handles/>` on them. There is one component in particular that you make some selections, and based off the selections you make, it changes the elements `type`.  The re-rendering happens and everything looks as it should, but when you select a `Handle`, it errors out.

I'

[2020-10-04 09:01] moklick commented on #545
Hey @underGhost

This is an interesting case :) I will check it tomorrow.

[2020-10-04 10:03] KutnerUri opened #546 "Error: 'non passive listener to "wheel' event"
I'm getting this error:

[code]
It is coming from `onAdd()`, and seems to be required for a smooth scroll-to-zoom effect.
I managed to remove the warning by applying `options = { passive: false }`.
I guess the error goes away when the event is explicitly active.

BTW, what about pinch-to-zoom?

[2020-10-04 15:03] underGhost commented on #545
Thanks so much!

Yea I started to trace it down and it looks like, we `querySelectorAll` for the Handles only once. If it happened whenever the `type` changed then it would probably fix it.

[2020-10-04 16:36] underGhost commented on #545
Was able to get it working by commenting out:
https://github.com/wbkd/react-flow/blob/541ea89cd7d7937de2f32c07e17ccb362724afdb/src/store/index.ts#L220-L226

Is it possible to have this updated? Or is there some work around I can implement?

[2020-10-05 05:00] dependabot-preview[bot] opened #547 "Dependabot couldn't find the branch develop"
Dependabot was set up to create pull requests against the branch `develop`, but couldn't find it.

If the branch has been permanently deleted you can update Dependabot's target branch in the `.dependabot/config.yml` file in this repo.

[View the update logs](https://app.dependabot.com/accounts/wbkd/update-logs/49725625).

[2020-10-05 06:27] weimin-wati commented on #540
Yeah, It's very helpful. 👍
Would you like my asking if any questions else?
Thanks so much.

[2020-10-05 07:56] #540 closed

[2020-10-05 07:56] #547 closed

[2020-10-05 09:03] harish-madugula commented on #494
Yup I tried that, no luck :(

[2020-10-05 09:13] moklick commented on #539
Hey. Do you mean the types or the React prop types?

[2020-10-05 10:18] moklick commented on #544
I am afraid the change causes too much trouble. I changed the behaviour to the previous one. Released in 6.0.3

[2020-10-05 10:18] #544 closed

[2020-10-05 10:19] moklick commented on #545
We released a change in v6.0.3. Can you check if it works?

[2020-10-05 10:33] moklick commented on #546
The warning should be fixed with React17 when I get it right.
Unfortunately pinch-to-zoom is not supported by d3-zoom, that we are using for panning and zooming. We might change this in the future but it's not a high priority right now.

[2020-10-05 10:33] #546 closed

[2020-10-05 10:39] moklick commented on #534
I think that you are not changing your state but references to the nodes. You need to update your internal state in order to let ReactFlow know about your changes.

[2020-10-05 10:39] #534 closed

[2020-10-05 10:44] moklick commented on #494
We will close this issue for now. You can re-open it if you provide a code sandbox or something like that so that we can check the code. With no further information it's hard to tell what is going on here.

[2020-10-05 10:44] #494 closed

[2020-10-05 10:49] #427 closed

[2020-10-05 10:57] #392 closed

[2020-10-05 12:18] zcmgyu opened #549 "[QA] Could I change the target of edge by drag-n-drop?"
I tried to drag the edge to point to another node. Does it seem like this isn't a feature?
Thanks in advance. (bow)

[2020-10-05 12:33] moklick commented on #549
Hey @zcmgyu

can you explain your question a little more precisely?

[2020-10-05 13:14] zcmgyu commented on #549
@moklick Thank you for your quick reply.

An edge from A point to B, instead of deleting that edge and making a new edge from A to C. Could I drag that edge target to C?

<img width="428" alt="Screen Shot 2020-10-05 at 22 09 49" src="https://user-images.githubusercontent.com/13638569/95083848-03f77e80-0758-11eb-9140-fa39fa5db30c.png">

<img width="428" alt="Screen Shot 2020-10-05 at 22 10 37" src=

[2020-10-05 15:02] moklick commented on #549
Got it :) Unfortunately this is not possible at the moment.

[2020-10-05 15:20] underGhost commented on #545
Thanks @moklick! Looks like that fixed my issue. Appreciate you getting to it so fast!

[2020-10-05 16:49] zcmgyu commented on #549
@moklick If I want to make a PR for this feature, could you give me a hint where can I start?

[2020-10-05 17:37] #545 closed

[2020-10-05 17:46] TheLoneRonin opened #550 "Image as node"
Rendering an image as a node would be awesome! :)

[2020-10-05 20:17] moklick commented on #550
This is already possible. You can pass an image as a label:

`data: { label: <img src={imgSrc} /> }}`

or implement a custom node that renders an image.

[2020-10-05 20:17] #550 closed

[2020-10-05 20:41] TheLoneRonin commented on #550
@moklick, brilliant!

This should be in the docs.
Thanks for sharing.

[2020-10-05 20:59] SchafferCPqD opened #551 "I can't use stored state from provider"
I'm just importing like that
`import ReactFlow, {
  Background,
  MiniMap,
  useStoreState,
  ReactFlowProvider,
} from 'react-flow-renderer';`

And when i'm trying to get
`const transform = useStoreState((store) => store.transform);`

The console says this:
![image](https://user-images.githubusercontent.com/50021316/95131228-152e9400-0734-11eb-8ad6-0786d5488889.png)

by the way, I'm putting React

[2020-10-05 21:41] #551 closed

[2020-10-06 08:57] moklick commented on #549
I would wait until we merge #543 ;) After that we can discuss how you could implement this feature.

[2020-10-06 10:33] chrtze opened #552 "user selection rendered incorrect on mouse out"
Steps to reproduce: Start drawing a user selection and move the mouse over the minimap while keeping shift pressed

![Screenshot 2020-10-06 at 12 33 58](https://user-images.githubusercontent.com/3797215/95190892-40ff5780-07d0-11eb-9f90-b4bae68d3424.png)

Possible solution: unset selection on mouse leave of the renderer div

[2020-10-06 11:44] KutnerUri commented on #539
I mean the type of the props of the components.

I have a habit of extending components props, so future consumers could add arguments I did not expect.
This might explain it better: https://blog.bitsrc.io/the-vanilla-and-flavouring-pattern-fcf07942a57a

[2020-10-06 12:23] #299 closed

[2020-10-06 12:23] #552 closed

[2020-10-06 12:38] chrtze commented on #552
Released in [v6.1.0](https://github.com/wbkd/react-flow/releases/tag/6.1.0)

[2020-10-06 12:39] chrtze commented on #299
Released in [6.1.0](https://github.com/wbkd/react-flow/releases/tag/6.1.0)

[2020-10-06 12:39] moklick opened #555 "New readme header image"
![react-flow-header](https://user-images.githubusercontent.com/2857535/95202503-b0317780-07e1-11eb-86b1-127fe312facf.jpg)

[2020-10-06 13:21] #555 closed

[2020-10-06 15:38] moklick commented on #555
![react-flow-header](https://user-images.githubusercontent.com/2857535/95224198-b2540000-07fa-11eb-832d-361d72d60345.jpg)

[2020-10-06 16:08] chrtze commented on #539
Released in [6.1.1](https://github.com/wbkd/react-flow/releases/tag/6.1.1)

[2020-10-06 16:08] #539 closed

[2020-10-07 04:52] kbaird5 commented on #419
Also seeing a similar issue when dynamically changing the edge label text. The text is updated, but the rectangle stays the size of the original label.

[2020-10-07 07:22] lqmanh opened #558 "[Feature request] Node grouping"
This feature serves 2 use cases:
1. Grouping nodes sharing similar characteristics: same category, steps in a phase,...
2. Making it possible to build ERD-like diagrams

My personal need is to build an ERD tool like the image below. I initially thought about using custom nodes, but it's hard to synchronize the position of foreign keys with their ports (handle ends). If we view tables as groups of

[2020-10-07 07:26] pot-code opened #559 "Clicking connected dots will trigger onConnect event"
#  🐛 Bug Report

As title says.

console output:

[code]

## To Reproduce

1. connect two nodes
2. click any dot on one of the nodes

## Expected behavior

Should not trigger onConnect event

## Link to repl or repo

https://codesandbox.io/s/react-flow559-ddxhf

## envinfo

package version: 6.1.1
OS: 64bit Mac OS X 10.14.6 18G6020

[2020-10-07 08:11] chrtze commented on #558
Hi, if I understand your request correctly, a diagram like this should already be possible to build. Have you tried using multiple handles like in this example: https://reactflow.dev/examples/custom-node ?

[2020-10-07 08:29] lqmanh commented on #558
@chrtze,
It's ok to do that, but I want to have 2 ends of the the handle precisely point to the FK field and PK field (like in the image above), not just point arbitraryly to the side of tables.
In the custom node example, we have to manually set top and bottom css. It's hard to determine where should we place handle ends.

[2020-10-07 08:33] chrtze commented on #559
Hi, I think this is the expected behaviour. If you want to prevent nodes being connected to themselves, you can do a check in your `onConnect`, something like `params.source !== params.target`. Anyway, we should take a look into the duplicate key warning separately.

[2020-10-07 08:45] chrtze commented on #558
For that, you have to place the Handles inside the table row and position it relative to it. Example: https://codesandbox.io/s/vigilant-montalcini-mwou6?file=/src/App.js

[2020-10-07 08:45] #558 closed

[2020-10-07 08:45] pot-code commented on #559
@chrtze Hi, thank for your reply, but I still think there is a misunderstanding. IT IS a CLICK action, not CONNECT, thus it would be weird to get a onConnect event.

[2020-10-07 08:48] chrtze commented on #559
You are right, in that case we should think about adding a threshold for checking if the user has dragged. Thanks for clarifying!

[2020-10-07 11:21] code-guru opened #560 "Pressing delete when typing text in wysiwyg editor removes the selected block"
When user types inside wysiwg editor and press the delete button on keyboard, react-flow would delete the selected node instead of expected behaviour of only deleting the last typed character. In the code [here](https://github.com/wbkd/react-flow/blob/main/src/utils/index.ts#L6), there is a check to make sure the event is not coming from an input field , however `div` with `contenteditable` attrib

[2020-10-07 11:23] code-guru commented on #559
I had the same issue, in my use case, a node could not connect to itself, so preventing the connection solved the issue. But I also agree clicking on handle should not trigger connect.

[2020-10-07 12:25] moklick commented on #560
good point :) we will add that.

[2020-10-07 13:29] weimin-wati opened #561 "For arrowHeadColor and defaultZoom"
Hello, there.
How's it going?
I've updated to the new version ("react-flow-renderer": "^6.1.1") and It seems not working arrowHeadColor and defaultZoom properties.
I mean the scale of the panel is setted as default 2.
So I setted up it to defaultZoom={1.0}, but it wasn't working.
Please let me know what problem is.
Regards.

[2020-10-07 14:38] moklick commented on #561
Hey @weimin-wati

we can't reproduce your issue. `arrowHeadColor` and `defaultZoom` are working fine. The default zoom is `1`. Maybe you are using `fitView` on load? That would overwrite the `defaultZoom` and `defaultPosition` props.

Please provide a running code example (codesandbox or something similar) if you want to re-open this issue.

[2020-10-07 14:38] #561 closed

[2020-10-07 15:27] moklick commented on #559
I could image that this will be fixed when we merge #543. Otherwise we can add a flag `hasMoved` in order to check if user has moved the mouse or just clicked.

[2020-10-07 15:40] #560 closed

[2020-10-07 16:14] moklick commented on #560
released in 6.1.2

[2020-10-07 16:44] nileshlande12 commented on #533
Same issue started facing after updating it to 6.1.1,
for me control panel is also not working, it actually taking maxZoom which I'm passing as 3,
if I remove maxZoom props it worked.
I also see such issue in example /custom-node when doing reactFlowInstance.fitView();
Note: I'm rendering graph vertically.

[2020-10-07 17:10] chiester opened #562 "Loading message while waiting for nodes to render"
Is there a way to show a loading icon or message while react-flow is rendering? I have a graph if 400+ nodes and it takes a few seconds to render.

[2020-10-07 19:29] chiester opened #563 "Controls issues"
Did something change with controls in a recent update? I find that now, all of the controls (zoom in, zoom out, and fitView) all cause the graph to max zoom. Scroll to zoom stops working.

[2020-10-07 20:51] moklick commented on #563
I can't reproduce this. Can you create a code sample (codesandbox or something similar)

[2020-10-08 11:00] moklick commented on #562
You could set all elements `hidden=true` and then update the elements in the onLoad callback and set `hidden=false`;

[2020-10-08 11:00] #562 closed

[2020-10-08 12:20] code-guru commented on #563
I'm also experiencing similar issue, not sure what cause it, and how to reproduce? I have scroll on zoom enabled. Something the zoom to the max, and controls stop working.

[2020-10-08 12:25] code-guru commented on #563
You can produce the bug, with enabling `zoomOnScroll` and `maxZoom` at the same time. And it happen with the first scroll event.

[2020-10-08 13:42] #563 closed

[2020-10-08 13:45] moklick commented on #563
Thanks for the hint. A fix is released in 6.1.3!

[2020-10-08 14:21] chiester commented on #562
Wouldn't the result be the same--a blank zoompane until the render is finished?

[2020-10-08 14:42] moklick commented on #562
You could add a variable `isLoading` which is `true` by default and then set this variable to `false` inside the onLoad callback. And display the loading message when `isLoading` equals `true`.

[2020-10-09 00:27] naivefun opened #564 "custom edge label?"
For example what if I need to implement an 'insert' between nodes operation? It would be great to be able to add a button on the edge. Now label only supports string if I'm not missing anything.

[2020-10-09 03:45] bobbysciacchitano opened #565 "Custom events on nodes - double click?"
Hi, I'm starting to get my head around react-flow and was wondering what would be the best way to trigger a double click event on a node, would I just do this on a custom node component or is there some why I can bubble up an event to the root component.

Thanks

[2020-10-09 07:11] meltemgursoy opened #566 "Need more nodes"
How can I create 3 target nodes and 3 source nodes?

[2020-10-09 08:39] moklick commented on #566
Hey @meltemgursoy

do you mean nodes or handles inside nodes?

[2020-10-09 08:45] moklick commented on #565
The easiest way would be to pass a div element as a label and add your `onDoubleClick` handler there (you would need to change the styling a bit to receive the event not only on the label but on the whole node). The best way would be to create a custom node with a `onDoubleClick` handler.

[2020-10-09 08:45] #565 closed

[2020-10-09 11:31] meltemgursoy commented on #566
Hi @moklick

Actually, I found a solution. I want to create more than 1 connection. I checked your [custom node example](https://github.com/wbkd/react-flow/tree/main/example/src/CustomNode). I was trying to make implementation for my case. So, this is my basic custom node comp. Maybe will help for .tsx lover.

`import React, { memo } from 'react';
import { Handle, HandleProps } from 'react-flow-re

[2020-10-09 11:57] YoannBuzenet commented on #533
Hello,

I think it was my fault, I was displaying the ReactFlow component before having the array of data ready. I'm getting the data from API and treating it before setting it in the array of ReactFlow.

I think it did trigger onLoad before it had the right data to fit on. I added a flag to make it display after data was treated + added a setTimeout to be sure, and now it works most of the time.

[2020-10-09 12:35] moklick commented on #566
ok, cool :)

[2020-10-09 12:35] #566 closed

[2020-10-09 17:07] Zn4rK commented on #427
For what it's worth, there exists an implementation [here](https://github.com/MrBlenny/react-flow-chart/blob/c27628b6a082f533ab0cea7e86415b0a48ed8ab1/src/components/Link/utils/generateCurvePath.ts#L80) that one could take inspiration from.

I have a slight feeling that it isn't that easy, but just posting it here just in case!

[2020-10-09 22:58] Zn4rK commented on #503
I created a POC of this with the help of [`react-flow-chart`](https://github.com/MrBlenny/react-flow-chart) and [`pathfinding`](https://github.com/qiao/PathFinding.js), as I mentioned [here](https://github.com/wbkd/react-flow/issues/427#issuecomment-706298132).

As this stands right now, it is really not optimal, but it shows that it's relatively easy to do. Ideally the edges would share the matri

[2020-10-10 08:49] naivefun opened #567 "flow step node should not be singleton"

[2020-10-10 08:50] #567 closed

[2020-10-10 09:20] moklick commented on #564
For this you need to implement a custom edge. You add clickable `rect` we n the center or you `foreignObject` to inject html to the svg context.

[2020-10-10 09:42] #564 closed

[2020-10-10 23:51] naivefun opened #569 "add 'className' option to node?"
though style could work, it's great to have classname injected to node or edge when nodes are classified.

[2020-10-11 00:01] #569 closed

[2020-10-12 03:42] SathishRaju opened #570 "Resizable nodes"
Can I resize a node? I don't see any options. Is this in the roadmap or is there any workaround?

[2020-10-12 08:44] chrtze commented on #570
Hi, this should be possible with a custom node that implements the resize functionality. Internally, size changes of the nodes are already monitored and causing re-renders. Currently, we are not planning on making this a core feature or property.

[2020-10-12 08:44] #570 closed

[2020-10-13 03:34] zcmgyu commented on #549
@moklick If you have some time please check out my PR

[2020-10-13 09:08] dPacc opened #577 "Grid lines or dots not rendering"
While moving the pane, the grid lines or dots do not render at certain points. This was working earlier in version 3.2.4, but the bug appears to be in the latest version.

![grid](https://user-images.githubusercontent.com/36117641/95840423-29d2e380-0d55-11eb-89a8-3b2dcb677179.png)

[2020-10-14 00:49] SathishRaju commented on #570
Thanks, will try that!

[2020-10-14 02:09] hellofantastic opened #578 "Anything wrong with using uuid for node, line and port/handle ids?"

[2020-10-14 03:41] buitrung opened #579 "How do I get current position offset of the pane?"
I have a button to add new node. When clicked, I want to add a default new node at the center of window, but I don't know how to get current position of the pane to set default position of the new node?

[2020-10-14 08:15] moklick commented on #579
You can use the `project` function from the react flow instance in order to get the internal pane position https://reactflow.dev/docs/api/react-flow-instance/

[2020-10-14 08:15] #579 closed

[2020-10-14 11:33] shyam-infraon opened #580 "On Deleting a custom node using removeElements doesnt remove the outgoing edges"
Hi, I have made a custom node and when I am trying to delete a node, which has and incoming edge, it deletes properly.
When I am trying to delete the node which has an outgoing edge using removeElements, the edge doesnt get deleted.
Can you take a look at this.
Thanks in advance

![Screenshot_2020-10-14 React App](https://user-images.githubusercontent.com/52315201/95983372-2025aa80-0e3f-11eb-99fd-

[2020-10-14 11:53] mehuljariwala opened #581 "couldn't create edge for source id:"
I use 2 ReactFlow render in different page in React some time is showing me this error can you help @moklick

[2020-10-14 12:04] shyam-infraon commented on #580
Also noticed that the edge which is created, the source id has "__b" attached to it, which might be causing the issue.

[2020-10-14 12:29] moklick commented on #580
Hey @shyam-infraon

probably there is an issue with your ids here? Could you create a code sample (for example a codesandbox)?

[2020-10-14 13:05] shyam-infraon commented on #580
I created the following sandbox, try deleting the custom node.
[URL](https://codesandbox.io/s/musing-goldberg-8x3mu)

[2020-10-14 13:52] moklick commented on #580
When I delete the custom node, all edges are deleted too. Which is the expected behaviour.

[2020-10-14 14:11] moklick commented on #581
When you have multiple flows you should wrap your flows with the `<ReactFlowProvider>` component. This ensures that every flow has its own store https://reactflow.dev/docs/api/components/provider/. Does this fix your issue?

[2020-10-14 14:13] shyam-infraon commented on #580
So did u check the sandbox that i created,i have recreated the scenario.
1. Click on the Custom node once to select it.
2. Click on the delete button at the top right.
The error should be visible.
Here is the sandbox link: [https://codesandbox.io/s/musing-goldberg-8x3mu](https://codesandbox.io/s/musing-goldberg-8x3mu)

[2020-10-14 14:24] moklick commented on #580
Ok, got it (I didn't see the delete button). You also need to pass the connected edges the `removeElements` function:

[code]

The function `getConnectedEdges` gets exported:

[code]

[2020-10-14 17:18] moklick commented on #577
I already tried to fix this bug. It is really strange what is going here. We are dynamically creating a svg which is used as a repeated background image. The svg only includes a `<circle />` element. I can't explain why it is not always rendered and I don't see a pattern. Maybe these are rounding errors?

[2020-10-15 06:51] shyam-infraon commented on #580
Thank You, it worked. It would be better if this gets mentioned in the docs for people stuck at the same issue.
Summing up for future reference:
removeElement usually removes a node and the corresponding edges attached to it, but when we use a custom node, we need to retrieve all the edges and pass it to the removeElement along with the current node.

Thanks again, its a wonderful library though..

[2020-10-15 06:51] #580 closed

[2020-10-15 16:39] yasserbouchareb opened #584 "set new id to existing node or edge"
I wanna to assign a new id to my node and edge that I am getting from the server, but when I set the new id to the node
and try to create a new edge from that node I get the Error: Can't create edge. Node with id=... does not exist.

how can I set  a new id  to edge or node to avoid this error ?

I saw the function setConnectionNodeId from Action store. Is that function set the Id ? if yes how to

[2020-10-15 18:19] andys8 opened #585 "selectedElements can contain not existing elements"
## Issue

`selectedElements` has an element with id "43kWoKwibhR", but there is no element with this is in `elements`.

![image](https://user-images.githubusercontent.com/13085980/96169911-2ee58d80-0f23-11eb-9783-897f7b10f487.png)

## Reproduce

* Render nodes
* Select a node
* Replace the nodes with different nodes

I know this issue's description is dense. Please give me a first hint, if this is

[2020-10-15 20:43] meltemgursoy commented on #584
This error comes when the id is not string type. Please check that. Hope it will help.

[2020-10-16 06:12] ralppppy opened #586 "How can I change the actual shape of the node?"
Basically, I want to make a basic flowchart shapes, is there any way to do it?

[2020-10-16 07:32] yasserbouchareb commented on #586
You just need to provide a style option to your object like this :
`<ReactFlow
            elements={[
              {
                id: '1',
                type: 'input',
                data: { label: 'Node 1' },
                position: { x: 250, y: 5 },
                **style: {
                  border: '1px solid black',
                  width: '80px',
                  height: '80px',

[2020-10-16 07:42] yasserbouchareb commented on #584
Thanks @meltemgursoy, the Id type one of Two mistakes that I made.
And my second mistake is that I didnt update the store elements with new IDs, I jsut update the elements IDs of the GrapgView component.

Thanks a lot.

[2020-10-16 07:42] #584 closed

[2020-10-16 08:06] ralppppy commented on #586
I've tried this approach but I've encountered a problem, You need to use skew() to create a Parallelogram, but if you do it the Label text will also be affected. As you can see in the image, and I think we will encounter another problem in other shapes as well, I think this is a really good enhancement for this library if this will be done easily, Or even builtin shapes options will do. Maybe we c

[2020-10-16 10:21] yasserbouchareb commented on #586
As workaround, you can create your own custom node of new type (parallelogram), and pass a nodeTypes object to the ReactFlow component like that :
[code]
check Node Types & Custom Nodes section for more details [https://reactflow.dev/docs/api/node-types/](url)

Now you should create YourCustomNode using handles (check Handle Component section :  [https://reactflow.dev/docs/api/handle/](url) )

As

[2020-10-16 11:19] TheOnlyArtz opened #587 "Is there an example on how to implement a sidebar with drag and drop of nodes into a chart?"

[2020-10-17 00:30] ralppppy commented on #586
Thank you. I will try this.

[2020-10-17 02:18] nadenf opened #588 "onConnect doesn't fire for both handles of the Edge"
**Recreate:**
1) Drag two nodes onto the grid each with a handle.
2) Add onConnect handlers for both handles.
3) Create a new edge between the two nodes.

**Expected:**
Both onConnect handlers should fire since a connection has been established between both nodes.

**Actual:**
Only the source onConnect handler will fire.

[2020-10-17 02:24] nadenf opened #589 "Connection should have references to the handles"
**Issue:**
For nodes that have multiple handles it is not possible to know to which handle was connected during an onConnect event.

**Expected:**
The signature of Connection should have a reference to the source and target handles:
[code]

**Actual:**
The signature of Connection assumes all nodes have a single handle e.g.

[code]

[2020-10-17 10:07] moklick commented on #586
thanks @yasserbouchareb 👍

[2020-10-17 10:07] #586 closed

[2020-10-17 10:09] moklick commented on #587
there is an open PR #568 that adds a sidebar example. I hope we can merge it soon.

[2020-10-17 10:36] TheOnlyArtz commented on #587
Perfect, thanks!

[2020-10-17 16:42] #587 closed

[2020-10-18 08:22] Jc2k commented on #533
I hit this something like this too with the custom node example. In that case it was because of the useEffect() - i guess when onLoad was called the useEffect hadn't run and called setElements yet. Now i just need to figure out how to call fitView when setElements is called! Maybe a useEffect that depends on the value of elements? But how would i get the instance in that case...?

[2020-10-18 11:44] #581 closed

[2020-10-18 11:44] mehuljariwala commented on #581
It's work. Thanks for quick response.

[2020-10-18 22:37] pSnehanshu commented on #514
The current `getIncomers` doesn't take into account edges incoming from custom nodes having multiple Handlers. These handlers have ids of the format `nodeid__handlerid`. I have included a regex tester to include them.

[code]

[2020-10-18 22:38] pSnehanshu opened #590 "The current `getIncomers` doesn't take into account edges incoming from custom nodes having multiple Handlers. These handlers have ids of the format `nodeid__handlerid`."
The current `getIncomers` doesn't take into account edges incoming from custom nodes having multiple Handlers. These handlers have ids of the format `nodeid__handlerid`.

The following is a re-write of the same function, I have included a regex tester to include them.

[code]

The buggy function was probably introduced [here](https://github.com/wbkd/react-flow/issues/514).

[2020-10-18 22:42] #590 closed

[2020-10-18 22:43] pSnehanshu opened #591 "getIncomers doesn't consider egdes of the format nodeid__handlerid"
The current `getIncomers` doesn't take into account edges incoming from custom nodes having multiple Handlers. These handlers have ids of the format `nodeid__handlerid`.

The following is a re-write of the same function, I have included a regex tester to include them.

[code]

The buggy function was probably introduced [here](https://github.com/wbkd/react-flow/issues/514).

[2020-10-19 01:46] tkao-cursive opened #592 "nodesDraggable property for ReactFlow component isn't working"
I've set `nodesDraggable` to `false` in the `ReactFlow` component, but I'm still able to drag it around on the screen. Am I missing something or possibly setting that property incorrectly?

`
                                <ReactFlow
                                    className={styles.flowContainer}
                                    nodesDraggable={false}
                                    n

[2020-10-19 05:43] benjamin-henry commented on #514
Nice. Thanks buddy

Le lun. 19 oct. 2020 à 00:37, pSnehanshu <notifications@github.com> a
écrit :

[2020-10-19 12:22] moklick commented on #592
Your setup seems fine. Nodes should not be draggable when you set  `nodesDraggable=false`. When you don't want to allow to drag the pane you need to set `paneMoveable=false`. Can you open a codesand box or something similar?

[2020-10-19 16:16] moklick commented on #585
The current version is 6.3.1 but you will encounter the same issue (I would update anyway ;)).

Did you try to clear the selected elements with `setSelectedElements([])` before you replace the nodes?

[2020-10-19 17:30] MadSciencist opened #603 "request: graph serialization example"
Hey,

whats the proper way to serialize the graph elements (AKA graph export)?  Is there any high level API for that?
The only way I found is to take redux state and replace the 'position' object of flow element with __rf.position.

Thanks

[2020-10-19 17:48] moklick commented on #603
Hey,

right now that would be the solution. I think it would be a good idea to do this inside the `getElements` function so that users don't have to do it.

[2020-10-19 23:15] andys8 commented on #585
Yes, need to update at some point ;)

I didn't try, mainly because I think it was introduced in a later version.

But in case it works: Should the user need to use the state store hook to get a reference to `setSelectedElements`, then call it with an empty array to make sure the selection is resetter? I was surprised the state kept a selection that doesn't exist. So it might be possible to do this

[2020-10-20 01:12] tkao-cursive commented on #592
ah ok it looks like i just missed one of the configs in the node object

`draggable: boolean - if option is not set, the node is draggable (overwrites general nodesDraggable option)`

so to make nodes not draggable, you have to set that for each node.

thanks for taking the time to help me @moklick

[2020-10-20 01:12] #592 closed

[2020-10-20 02:10] llz30811 opened #604 "how to remove the elements？"
the examples have this method， but how to trigger this method。

[2020-10-20 04:16] volkan-a commented on #604
Hello,

It's in the props.

`<ReactFlow onElementsRemove={handleRemoveElement} ...>`

[2020-10-20 04:33] volkan-a opened #605 "Custom node gets outdated version of elements"
Hi there,

I have a custom node implementation:

[code]

Node has a context menu and an item which calls `handleRemove` I'm accessing an outdated find (only the elements added before that node).

So, how can I get or update actual elements?

[2020-10-20 11:30] agarwal00s opened #606 "Need onDropEvent"
@moklick I an developing a feature where user can drop a div on the canvas to create a node at that particular place. I will be needing an onDrop(e: MouseEvent) to get the position where the user has dropped the div.

Please let me know if there is any other way to implement this apart from onDropEvent.

[2020-10-20 11:56] prudhvi-a1 opened #607 "Custom image node with label outside the shape"
Is it possible to achieve the following using custom node

1. Node (Circle, rectangle, diamond) with an image and label outside of the shape
2. Icons menu similar to the one in the image below on selection of the node
![image](https://user-images.githubusercontent.com/13631499/96582271-a8e98e00-12f8-11eb-8396-019198b2cc57.png)

[2020-10-20 12:14] moklick commented on #607
Hey, yes you can do this with a custom node.

[2020-10-20 12:14] #607 closed

[2020-10-20 13:33] moklick commented on #605
Hey @volkan-a,

could you open a codesandbox or something similar? You need to keep track of the elements. So you should have them in your state.

[2020-10-20 13:35] lisandro-jofre commented on #5
Could you paste a code sample of how you implemented dynamic dimensions?

[2020-10-20 13:36] moklick commented on #604
The function is triggered when you press backspace. You can define any other key with the `deleteKeyCode` prop.

[2020-10-20 13:36] #604 closed

[2020-10-20 19:16] austincondiff opened #608 "Custom Elements should have access to current state"
Custom node and custom edge components should have access to current state via props. For example the custom edge component should get `sourceElement`, `targetElement`, and `elements` props. I'd like to be able to change the edge when a node it is connected to is selected.

[2020-10-20 19:18] austincondiff opened #609 "Multi-select"
It would be nice to select multiple nodes by clicking while holding the shift key. That would allow us to drag to move multiple nodes at once.

[2020-10-21 04:19] volkan-a commented on #605
Hi @moklick

Here you can find a [demo](https://codesandbox.io/s/customnodegetoutdatedelements-q63z9
).

When you add a new custom node and click on it you get an outdated copy of elements, not parents current state.

[2020-10-21 07:33] MadSciencist opened #610 "Multiselection bug - not all nodes are selected"
Hey,

Under some very specific circumstances there appears to be bug with multiselection - sometimes not all nodes under the selection area are actually selected.
GIF:
![multiselectBug2](https://user-images.githubusercontent.com/16021818/96601034-e3036180-12f1-11eb-88f4-3a25c6ec5c33.gif)

[2020-10-21 14:07] amcdnl opened #611 "[FEATURE] Nested Nodes"
## Request
I have a custom workflow component that I wrote that supports nested nodes/edges. I was wondering if this would be possible with your solution and if not if you are open to it.

## Example
![image](https://user-images.githubusercontent.com/227909/96731303-1a6f1e00-1385-11eb-80ce-a02dda9534d0.png)

In the above, it has a "loop" which a user can drag nodes into and connect nodes together

[2020-10-21 14:10] amcdnl opened #612 "[FEATURE] Layout Engines"
## Request
It would be cool if you could support both custom drag and layout engines.

I would suggest looking at:

- ELKJS ( my fav ) https://www.npmjs.com/package/elkjs
- Cola - https://github.com/tgdwyer/WebCola
- Dagre - https://github.com/dagrejs/dagre

[2020-10-21 14:11] amcdnl opened #613 "[FEATURE] Scroll to Pan"
## Request
Similar to how tools like Figma pan, it would be nice if you could just scroll rather than drag.

[2020-10-21 14:16] amcdnl opened #614 "[FEATURE] Context Menu"
## Request
It would be nice if you could create a context menu on right click of a node for things like remove node/etc.

[2020-10-21 14:19] amcdnl opened #615 "[FEATURE] Improve Hit Detection"
## Request
It would be nice if as you were dragging a link to a node, if it got close to one it would highlight the closest node.

[2020-10-21 14:20] amcdnl opened #616 "[FEATURE] Keyboard Navigation"
## Request
For a11y and general ease of use, it would be ideal for keyboard navigation for things like arrow keys and enter.

[2020-10-21 14:20] amcdnl opened #617 "[FEATURE] Lasso Selection"
## Request
It would be cool if you could do lasso selection of nodes like: https://daybrush.com/selecto/storybook/?path=/story/selecto--welcome

[2020-10-21 14:21] amcdnl commented on #609
I think CMD/CTRL would probably be better since SHIFT usually indicates a range.

[2020-10-21 17:14] andys8 commented on #606
What you can do, is add a wrapping div with `onDrop` listener. `clientX` and `clientY` from the event, project them with `projectPosition` and add the node to the graph data yourself.

[2020-10-21 17:18] moklick commented on #608
When you need to access elements inside a custom edge component you can get them from the store:

[code]

I will add the props to the docs that get passed to a custom edge.

[2020-10-21 17:19] #608 closed

[2020-10-21 17:24] austincondiff commented on #609
@amcdnl That is true when looking at a list such as a file explorer. Applications where there is a canvas like Photoshop, Illustrator, Sketch, Figma, etc., ctrl/cmd is a modifier and shift will select multiple objects.

[2020-10-21 17:26] austincondiff commented on #609
I did notice that in the `storeState`, `selectedElements` is an array, so I assume this is already doable or in is planned?

[2020-10-21 17:26] moklick commented on #605
This is not really related to react-flow but to react in general. However If you need access to the current elements inside you custom node it is easier to access them via:

[code]

[2020-10-21 17:26] #605 closed

[2020-10-21 17:28] moklick commented on #608
you can find the list of passed props here https://reactflow.dev/docs/api/edge-types/

[2020-10-21 17:30] moklick commented on #614
We don't want to integrate too many features. You can already use `onNodeContextMenu` in order to display a context menu or you could build a custom node with a context menu.

[2020-10-21 17:30] #614 closed

[2020-10-21 17:31] moklick commented on #613
there is already an open issue for this #359

[2020-10-21 17:31] #613 closed

[2020-10-21 17:34] moklick commented on #612
hey @amcdnl,

thanks for your input :) We already have an issue regarding layouting #5 .
Could you open a new issue for the custom drag engine feature request?

[2020-10-21 17:34] #612 closed

[2020-10-21 17:36] moklick commented on #611
Is this a kind of sub-flow inside a node?

[2020-10-21 17:37] moklick commented on #609
Right now it's used for the dragging multi-selection. I think we will add a multi select by clicking too.

[2020-10-21 17:38] moklick commented on #606
Thanks @andys8

that is the best solution for the current version.

[2020-10-21 17:38] #606 closed

[2020-10-21 17:39] moklick commented on #616
You would like to pan the flow with the arrow keys? What would the enter key trigger?

[2020-10-21 17:40] moklick commented on #617
You can do a multi-selection with pressed shift key (or any other key you pass as the `selectionKeyCode` prop)

[2020-10-21 19:53] austincondiff opened #618 "Documentation for stateActions"
I can't find usage docs for `updateNodePos` for example. Please provide docs for each action.

[2020-10-21 21:35] amcdnl commented on #616
Ya - I think you could do something like if a node is NOT focused, then pan?

[2020-10-21 21:35] amcdnl commented on #614
Cool - I agree - I just wasn't sure if it was possible.

[2020-10-21 21:38] amcdnl commented on #359
@moklick - Any tips on best way to implement this?

[2020-10-21 21:38] amcdnl commented on #613
Ah thanks - missed that!

[2020-10-21 21:39] amcdnl commented on #612
Sure!

[2020-10-21 21:45] amcdnl commented on #611
Yes, this is using ELKJS for layout and my own react/svg component engine. Its essentially a node that contains another "canvas" / layout / etc in it.

In that code I wrote, I essentially just see that the node has "children" and render a group positioned > rect outline > node/edge[] recursive render call.

[2020-10-21 21:50] amcdnl commented on #615
Checkout how this example works - https://github.com/alyssaxuu/flowy

[2020-10-21 21:56] #610 closed

[2020-10-21 23:49] jamesscaggs opened #619 "How to access selected prop of a node"
Is it required to use the provider component to get access to the selected prop of a node?

For example if I want to render some data based on a selected node?

[2020-10-22 00:10] austincondiff opened #620 "Integration with Leaflet"
It would be great to layer React Flow on top of a map to open this to location-based visualizations. Would this even be possible?

Here is an example without the map I put together.

https://codesandbox.io/s/networked-map-markers-bfcp4

Just imagine how it might look with a map underneath.

[2020-10-22 06:45] glebfeklistov opened #621 "[LOST FEATURE] onChange event"
Can handle onChange event when change every think, node dragging, edge connected, elements added or removed?

[2020-10-22 08:07] chrtze commented on #621
hi, can you give an example of how you would like to use an onChange property? which arguments should we hand to the listener?

[2020-10-22 08:11] chrtze commented on #620
wow! that is a crazy use case for react-flow. I am not sure if it is possible to abstract that functionality and build it into the core of the library. could you provide some pseudo code how you would expect react-flow to work in that case?

[2020-10-22 08:15] glebfeklistov commented on #621
Just return state on editor, for save graph.

[2020-10-22 08:16] glebfeklistov opened #623 "[LOST FEATURE] pass standard events onClick, onDoubleClick"
Pass standard events onClick, onDoubleClick and etc to components for handle user input and override standard behavior

[2020-10-22 08:19] moklick commented on #619
You can find the list of passed props [in the docs](https://reactflow.dev/docs/api/node-types/#custom-node-props). `selected` is part of it.

[2020-10-22 08:19] #619 closed

[2020-10-22 08:23] moklick commented on #621
You can use `onMove` (or better `onMoveEnd `) for checking panning and zooming behaviour in combination with `onNodeDragStop` to achieve this. We won't combine these events because they are different matters.

[2020-10-22 08:23] #621 closed

[2020-10-22 08:27] moklick commented on #623
We offer some standard events like `onElementClick` or  `onNodeContextMenu` you can use. When that is not enough you can implement a custom node with your own event handlers.

[2020-10-22 08:27] #623 closed

[2020-10-22 08:33] glebfeklistov commented on #621
Its not usefull

[2020-10-22 08:36] chrtze commented on #620
I think this is not something that we can support from this library. Maybe a way of doing this would be to sync the positions of the elements with the map (`map.containerPointToLatLng`). There are also some network visualization plugins for leaflet already existing (for example https://github.com/danwild/leaflet-network).

[2020-10-22 08:36] #620 closed

[2020-10-22 09:57] justrhysism opened #624 "[FEATURE] Pass `isDragging` prop to Node"
I would like to change the styling of my custom node whilst it's being actively dragged.

[2020-10-22 10:01] justrhysism commented on #611
Yeah, I've come up against this just now also (@amcdnl thanks for your suggestion of ELK in another issue, it's saved me a huge amount of time trying to generate bi-directional layouts!).

I've been able to emulate the appearane of groups; but unfortunately, I'm struggling to find a (non-hacky) way of moving all the child nodes when the group is dragged.

[2020-10-22 10:04] nowachri-de commented on #611
Hello,

this feature would be awesome to have !!

[2020-10-22 10:08] v-cat opened #625 "Can the options label be customized?"
Can the options label be customized? For example, customize a delete button and click delete to delete the line

[2020-10-22 10:28] yasserbouchareb opened #626 "how getConnectedEdges works"
please how executing getConnectedEdges function ?
From the docs, the function takes nodes array and edges array : getConnectedEdges = (nodes: Node[], edges: Edge[]): Edge[]
But I tried every combination and every time I get an error message.

please show me an example implementation of this function.

Thanks in advance

[2020-10-22 10:41] justrhysism commented on #611
I'd be happy if it wasn't part of the core, but had a plugin or function which facilitated it.

[2020-10-22 11:20] #626 closed

[2020-10-22 11:53] amcdnl commented on #611
Yes - I made a quick video of my app that uses ELK + React/SVG Components that I built to show how this works in my implementation. This implementation only supports 1 level though. https://www.screencast.com/t/50Luy02V9

[2020-10-22 11:54] amcdnl commented on #611
@justrhysism - Glad to hear - the API is pretty awful but once you get it going you don't really need to tweak it much.

[2020-10-22 13:23] moklick commented on #611
This looks pretty amazing! I think we won't add a nested flow functionality to the core but we could check if it would be already possible to implement this feature on top of react flow or if there is anything missing.

[2020-10-22 14:07] amcdnl commented on #611
@moklick - Thanks! Ya, that would be helpful to know and maybe some guidance if possible.

[2020-10-22 14:16] glebfeklistov commented on #621
I need one event for send to server updated graph state, else I needed to listen all "on...End" events and operate them all. It's not useful when we can haw one event

[2020-10-22 14:16] glebfeklistov opened #627 "onChange event"
I need one event for send to server updated graph state, else I needed to listen all "on...End" events and operate them all. It's not useful when we can haw one event

[2020-10-22 14:19] glebfeklistov commented on #603
You need to operate all "on...End" events and serialize event if you want to save changed state, example when you want to send data to server

[2020-10-22 14:23] glebfeklistov commented on #624
Just use https://github.com/wbkd/react-flow#prevent-dragging

[2020-10-22 15:13] moklick commented on #625
You could pass a component as a label but I would suggest to create a custom node in order to be more flexible. See https://reactflow.dev/examples/custom-node/

[2020-10-22 15:13] #625 closed

[2020-10-22 15:15] chrtze commented on #627
https://github.com/wbkd/react-flow/issues/621#issuecomment-714322297

as @moklick pointed out, we will not implement an onChange in the near future. what you want to achieve is already possible by using `useStoreState` from `react-flow-renderer`.

[2020-10-22 15:15] #627 closed

[2020-10-22 15:18] jamesscaggs opened #628 "Custom node types should default to react-flow__node-default className"
It looks like it is required to specify styling for a custom node type explicitly.

Am I missing something? It seems like a custom node type should inherit styles from the default nodes if not specified.

[2020-10-22 15:21] #624 closed

[2020-10-22 15:38] moklick commented on #624
Good point @justrhysism

it's released in v6.2.0

[2020-10-22 15:39] moklick commented on #610
Should be fixed in v6.2.0

[2020-10-22 16:24] jamesscaggs commented on #619
@moklick I see all of the other props but I'm not seeing the selected property available when logging out a demo component that is selectable and has a selected state.

https://cln.sh/PO2b8c

[2020-10-22 16:28] jamesscaggs commented on #619
![image](https://user-images.githubusercontent.com/15598224/96902134-bf5b2b00-1459-11eb-9e03-803d93d9ba7f.png)

[2020-10-22 16:31] moklick commented on #628
The default styles are just dummy styles. We think it's better to start with a unstyled node instead of having to overwrite a default style. Would it help if we add this information to the docs?

[2020-10-22 16:37] glebfeklistov commented on #627
useStoreState - change when interaction on progress, we needed event when interaction ended

[2020-10-22 16:55] glebfeklistov opened #629 "[BUG] fitView doesn`t work"
[code]

[2020-10-22 17:12] moklick commented on #619
Ok, I thought that you are implementing a custom node. I am not sure about your use case here. Could you use the `onSelectionChange` handler to receive the selected node?

[2020-10-22 17:27] jamesscaggs commented on #619
My use case is a user should be able to select a node and click a delete button to remove the selected node.

I am using the helper function below from the docs:
[code]

I want to do something like this:
[code]

[2020-10-22 17:46] glebfeklistov opened #630 "[FEATURE] Add meta data to node when created"

[2020-10-22 17:48] akernizan opened #631 "[BUG] Getting an error when I try to import ReactFlowProps"
I am trying to access the react flow props, but my application keeps throwing an error. Is there something I'm missing with this import?

**How I'm importing**
`import ReactFlow, {
  MiniMap,
  Controls,
  Background,
  ReactFlowProps,
} from 'react-flow-renderer';`

**Error**
`The requested module '../../web_modules/react-flow-renderer.js' does not provide an export named 'ReactFlowProps'`

[2020-10-22 18:01] glebfeklistov opened #632 "[BUG] id just only string type"

[2020-10-22 19:29] jamesscaggs commented on #628
Yes it would be nice to have in the docs. Thx!

[2020-10-22 19:55] moklick commented on #632
Hey,

can you explain the bug a bit more detailed?

[2020-10-22 19:55] chrtze commented on #629
could you reproduce this in a codesandbox, so that we can see the behaviour? maybe related to https://github.com/wbkd/react-flow/issues/533

[2020-10-22 19:56] chrtze commented on #630
can you clarify the feature request?

[2020-10-22 20:04] chrtze commented on #631
hi, which version are you using? the export was added in 6.1.1 https://github.com/wbkd/react-flow/issues/539

[2020-10-22 20:18] jamesscaggs commented on #619
@moklick Did you see this? Don't want to bug you if so but I'm not sure if closed issues are sending you notifications.

[2020-10-22 20:31] moklick commented on #619
Hey @jamesscaggs

no worries! I would recommend to use the `ReactFlowProvider`. Then you can get the `selectedElements` from the store.

[code]

Otherwise you would need to keep track of the selected elements by using `onSelectionChange`.

[2020-10-22 20:41] akernizan commented on #631
I'm using version 6.1.3

[2020-10-22 20:46] chrtze commented on #631
tried to reproduce it here: https://codesandbox.io/s/staging-wood-pmnlk?file=/src/App.tsx

[2020-10-22 20:46] #631 closed

[2020-10-22 20:52] jamesscaggs commented on #619
Great, thanks a ton for the awesome response times!

[2020-10-23 02:18] llz30811 commented on #604
ok, thank you

[2020-10-23 06:51] glebfeklistov commented on #629
"react-flow-renderer": "^6.1.3",

[2020-10-23 06:51] glebfeklistov commented on #630
Yes

[2020-10-23 06:53] glebfeklistov commented on #632
When i generic id for edges on back, i just set id like 0.1.2.3.4 or ts when it created on front. When elements pass into graph with id type not string, app crash

[2020-10-23 06:53] #632 closed

[2020-10-23 06:53] #630 closed

[2020-10-23 06:53] #629 closed

[2020-10-24 15:32] ClaitonBarreto opened #633 "Can't access position property in a Node type"
### Issue:
If try access the position property of last item with node type rendered, typescript gives the follow error:

### Initial elements
[code]

if try read the position property, i catch the error. There is a limitation in relation the properties of Node type?

[2020-10-24 15:52] moklick commented on #633
Hey,

could you try to use the `isNode` helper function to check if it's a node before you try to read the position?

[2020-10-24 16:41] ClaitonBarreto commented on #633
Hey there,

I'm actually doing the opposite.
Before trying to extract the position, i use the isEdge function for remove all Edge type items. But if you think necessary, i can do just that

[2020-10-24 16:47] ClaitonBarreto commented on #633
![git](https://user-images.githubusercontent.com/34696974/97087260-41d11f80-15ff-11eb-9ee9-d6721fee71bd.jpg)

Using the vs code helper, these are apparently the only properties accessible

[2020-10-24 18:35] moklick commented on #633
Could it be that these are the edge options?

[2020-10-24 20:37] ClaitonBarreto commented on #633
it seems so, but i have certainly that i using this function to filter the elements:

[code]

[2020-10-26 02:24] yaronrl opened #634 "Adding an ICON to a node + Styling"
Newbie question, is there a guide (or examples) that show all the options of how to style the nodes?
I discovered through some trial and error and looking at the examples that I can add HTML code under the label like this:

`id: '3',
    data: {
      label: (
        <>
          <img src={browserIcon} alt="English" height="32" />
          This one has a <strong><i>custom style</i></strong>

[2020-10-27 06:45] wyhinton opened #639 "Position.Bottom Not Placing Handles Correctly"
When using Position.Bottom or <Handle position = "bottom"> Handles are not being placed correctly. See this [sandbox](https://codesandbox.io/s/react-flow-customnode-ts-forked-rm3u2).

[code]

[2020-10-27 06:59] #639 closed

[2020-10-27 16:28] moklick commented on #633
You you need to specify that the filtered elements is a `Node` array:

[code]

[2020-10-27 16:28] #633 closed

[2020-10-27 16:33] moklick commented on #634
You can create a custom node or pass a React Node to the label option. Styling can be done with inline styles or class names.

Please post questions about the general usage at stackoverflow with the tag `react-flow`, so that we can focus on bugs and feature requests in the github issues.

[2020-10-27 16:33] #634 closed

[2020-10-28 09:21] pSnehanshu opened #640 "Unable to render two instances of react-flow on the same page"
I am trying to render two instances of react-flow on to a page, but it doesn't work. Seems like there's some kind of infinite rendering loop. I have attached a codesandbox link to demonstrate.

https://codesandbox.io/s/zealous-jackson-rdm0x

[2020-10-28 09:23] moklick commented on #640
When you have multiple flows on a page you need to wrap them with the `ReactFlowProvider` component. We will add this to the docs!

[2020-10-28 09:38] pSnehanshu commented on #640
@moklick Nah! It still doesn't work. See https://codesandbox.io/s/pedantic-sanderson-idct7

[2020-10-28 10:09] moklick commented on #640
You need to wrap each flow with the `ReactFlowProvider`.

[2020-10-28 14:20] roywillemse commented on #359
@moklick Hey, I'm a colleague of Emiel and Thomas.  First of all thanks for the work you're doing with Reactflow, we really like the package :).

There is one thing we are struggling with, we tried implementing the `onPanelScroll` to fix scrolling in the canvas but this didn't give us the result we are looking for.

[screenrecordings of the scrolling implementations](https://imgur.com/a/ZWiVD6d)

[2020-10-28 15:18] chrtze commented on #359
We have not yet started working on this but it is definitely something we want to have in the library. I think both of your versions look quite good already. Can you explain what is not working in option 2 exactly? Did you try fixing the behaviour in option 1 with CSS (something like `position: fixed` for the root element)?

Anyway, is there any way you can reproduce both examples in a codesandbox

[2020-10-28 20:36] scasab commented on #640
I tryied with a provider and doesnt work for me... Do you have a sample?

[2020-10-28 20:49] scasab commented on #640
Finally wors for me. The diference was in use two ReactFlowProvider:

            <ReactFlowProvider>
                <ReactFlow
                    onLoad={onLoad}
                    elements={nodosVentaGenerica}
                    onElementClick={onElementClick}
                    onElementsRemove={onElementsRemove}
                    onConnect={onConnect}
                    onNodeDragStop=

[2020-10-28 21:23] pSnehanshu commented on #640
I can confirm that this works.

[2020-10-28 21:23] #640 closed

[2020-10-29 04:47] buitrung opened #641 "Bug: after press Shift, mouse cannot move the pane anymore but drawing selection zone instead"
After press or hold Shift button, left mouse click will draw the selection zone.
I cannot move the pane around anymore and have to refresh page.

[2020-10-29 10:29] chrtze commented on #641
hi, it is intended that while holding the shift button the selection gets drawn. you can disable this by setting `elementsSelectable={false}`. see also: https://reactflow.dev/examples/interaction/

[2020-10-29 11:28] roywillemse commented on #359
@chrtze Hey Christopher, thanks for the quick response. If it is possible to fix option 2 easily, we're very interested.

I created a codesandbox with the two options, hope this helps to explain: https://codesandbox.io/s/reactflow-scrolling-implementation-2kuro?file=/src/App.js

Thanks for your efforts, we appreciate it very much!

[2020-10-30 03:08] buitrung commented on #641
Hi @chrtze,

I understand it's the intention to draw the selection zone when holding Shift because that's pretty much a popular behavior, but releasing Shift doesn't returns what I can do sooner so I consider this is a bug. Even in your example link, after pressing Shift, I can neither move the pane or move nodes or click on elements to select, but can only draw selection zone (surely I have toggl